<textarea class="large-text" onclick="this.focus();this.select()" rows="5">
'name'                  => _x( '{{ name }}', '{{ context }}: Name', {{ textdomain }} ),
'menu_name'             => _x( '{{ name }}', '{{ context }}: Menu Name', {{ textdomain }} ),
'singular_name'         => _x( '{{ singular }}', '{{ context }}: Singular Name', {{ textdomain }} ),
'description'           => _x( '{{{ description }}}', '{{ context }}: Description', {{ textdomain }} ),
'add_new'               => _x( 'Add New', '{{ context }}', {{ textdomain }} ),
'add_new_item'          => _x( 'Add New {{ singular }}', '{{ context }}', {{ textdomain }} ),
'edit_item'             => _x( 'Edit {{ singular }}', '{{ context }}', {{ textdomain }} ),
'new_item'              => _x( 'New {{ singular }}', '{{ context }}', {{ textdomain }} ),
'view_item'             => _x( 'View {{ singular }}', '{{ context }}', {{ textdomain }} ),
'search_items'          => _x( 'Search {{ name }}', '{{ context }}', {{ textdomain }} ),
'not_found'             => _x( 'No {{ name_lower }} found.', '{{ context }}', {{ textdomain }} ),
'not_found_in_trash'    => _x( 'No {{ name_lower }} found in Trash.', '{{ context }}', {{ textdomain }} ),
'all_items'             => _x( 'All {{ name }}', '{{ context }}', {{ textdomain }} ),
'archives'              => _x( '{{ singular }} Archives', '{{ context }}', {{ textdomain }} ),
'insert_into_item'      => _x( 'Insert into {{ singular_lower }}', '{{ context }}', {{ textdomain }} ),
'uploaded_to_this_item' => _x( 'Uploaded to this {{ singular_lower }}', '{{ context }}', {{ textdomain }} ),
{{# featured }}
'featured_image'        => _x( '{{ featured }}', '{{ context }}', {{ textdomain }} ),
'set_featured_image'    => _x( 'Set {{ featured_lower }}', '{{ context }}', {{ textdomain }} ),
'remove_featured_image' => _x( 'Remove {{ featured_lower }}', '{{ context }}', {{ textdomain }} ),
'use_featured_image'    => _x( 'Use as {{ featured_lower }}', '{{ context }}', {{ textdomain }} ),
{{/ featured }}
'filter_items_list'     => _x( 'Filter {{ name_lower }} list', '{{ context }}', {{ textdomain }} ),
'items_list_navigation' => _x( '{{ name }} list navigation', '{{ context }}', {{ textdomain }} ),
'items_list'            => _x( '{{ name }} list', '{{ context }}', {{ textdomain }} ),
</textarea>
