<textarea class="large-text" onclick="this.focus();this.select()" rows="5">
'name'                  => _x( '{{ name }}', '{{ context }}: Name', {{ textdomain }} ),
'menu_name'             => _x( '{{ name }}', '{{ context }}: Menu Name', {{ textdomain }} ),
'singular_name'         => _x( '{{ singular }}', '{{ context }}: Singular Name', {{ textdomain }} ),
'search_items'          => _x( 'Search {{ name }}', '{{ context }}', {{ textdomain }} ),
'all_items'             => _x( 'All {{ name }}', '{{ context }}', {{ textdomain }} ),
'parent_item'           => _x( 'Parent {{ singular }}', '{{ context }}', {{ textdomain }} ),
'parent_item_colon'     => _x( 'Parent {{ singular }}:', '{{ context }}', {{ textdomain }} ),
'edit_item'             => _x( 'Edit {{ singular }}', '{{ context }}', {{ textdomain }} ),
'view_item'             => _x( 'View {{ singular }}', '{{ context }}', {{ textdomain }} ),
'update_item'           => _x( 'Update {{ singular }}', '{{ context }}', {{ textdomain }} ),
'add_new_item'          => _x( 'Add New {{ singular }}', '{{ context }}', {{ textdomain }} ),
'new_item_name'         => _x( 'New {{ singular }} Name', '{{ context }}', {{ textdomain }} ),
'not_found'             => _x( 'No {{ name_lower }} found.', '{{ context }}', {{ textdomain }} ),
'no_terms'              => _x( 'No {{ name_lower }}', '{{ context }}', {{ textdomain }} ),
'items_list_navigation' => _x( '{{ name }} list navigation', '{{ context }}', {{ textdomain }} ),
'items_list'            => _x( '{{ name }} list', '{{ context }}', {{ textdomain }} ),
</textarea>
