////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork: Admin: Core ------------------------------------------------------
//
// we also use this on other plugins that have the same core html
//

@import "partials/admin.wrap";
@import "partials/admin.table";
@import "partials/admin.list";
@import "partials/admin.nav";
@import "partials/admin.tabs";
@import "partials/admin.form";
@import "partials/admin.metabox";
@import "partials/admin.editor";
@import "partials/admin.logs";
@import "partials/admin.icon";
@import "partials/admin.rows";

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.-wrap.gnetwork-github-readme {
  /*rtl:ignore*/
  direction: ltr;

  background: #fff;
  margin: 1em 0;
  padding: 1em 1.5em;

  img[src*="badge"],
  img[src*="shields.io"] {
    display: inline-block;
    border-radius: 0;
  }
}
