////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork: Admin: Core

// we also use this on other plugins that have the same core html
////////////////////////////////////////////////////////////////////////////////
$spacer: 1rem !default;

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/admin.helpers";
@import "partials/admin.wrap";
@import "partials/admin.colors";
@import "partials/admin.heading";
@import "partials/admin.table";
@import "partials/admin.list";
@import "partials/admin.nav";
@import "partials/admin.tabs";
@import "partials/admin.form";
@import "partials/admin.buttons";
@import "partials/admin.progress";
@import "partials/admin.switches";
@import "partials/admin.metabox";
@import "partials/admin.card";
@import "partials/admin.editor";
@import "partials/admin.logs";
@import "partials/admin.icon";
@import "partials/admin.rows";
@import "partials/admin.widgets";
@import "partials/admin.tools";
@import "partials/admin.settings";

////////////////////////////////////////////////////////////////////////////////
@import "partials/thickbox.all";

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////////////////////
.-wrap.gnetwork-github-readme {
  /*rtl:ignore*/
  direction: ltr;

  background: #fff;
  margin: 1em 0;
  padding: 1em 1.5em;

  img[src*="badge"],
  img[src*="shields.io"] {
    display: inline-block;
    border-radius: 0;
  }
}

////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 782px) {
  .-wrap.-toolbox-links ul {
    display: block;

    li {
      margin: 0 0 ($spacer * .5);

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .button {
      width: 100%;
      text-align: center;
    }
  }

  table.wp-list-table {
    thead {
      body.admin-bar & {
        top: 0; // admin-bar is not sticky on mobile
      }
    }

    .inline-edit-row {
      label span.input-text-wrap,
      .timestamp-wrap {
        margin-left: 0 !important;
      }
    }
  }
}
