////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork: Admin: Core

// we also use this on other plugins that have the same core html
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/admin.wrap";
@import "partials/admin.colors";
@import "partials/admin.table";
@import "partials/admin.list";
@import "partials/admin.nav";
@import "partials/admin.tabs";
@import "partials/admin.form";
@import "partials/admin.buttons";
@import "partials/admin.switches";
@import "partials/admin.metabox";
@import "partials/admin.editor";
@import "partials/admin.logs";
@import "partials/admin.icon";
@import "partials/admin.rows";
@import "partials/admin.widgets";
@import "partials/admin.tools";
@import "partials/admin.settings";

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////////////////////
.-wrap.gnetwork-github-readme {
  /*rtl:ignore*/
  direction: ltr;

  background: #fff;
  margin: 1em 0;
  padding: 1em 1.5em;

  img[src*="badge"],
  img[src*="shields.io"] {
    display: inline-block;
    border-radius: 0;
  }
}

////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 782px) {
  .-wrap.-toolbox-links ul {
    display: block;

    li + li {
      margin: 0 0 .5rem;
    }

    .button {
      width: 100%;
      text-align: center;
    }
  }
}
