////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork: Admin: Media Queries ---------------------------------------------

@media screen and (max-width: 782px) {
  .gnetwork-admin-wrap.gnetwork-settings {
    padding-right: 10px;
  }

  .gnetwork-admin-metabox-controls button {
    padding: 3px 3px 2px !important;

    > span {
      display: none;
    }
  }
}
