@import "modules/all";
@import "partials/base";
////////////////////////////////////////////////////////////////////////////////
@import "vendor/wordpress_colors";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.gnetwork-admin-metabox-controls {
  background-color: $wordpress-color-dark-grey;
  border-color: $wordpress-color-ultra-grey;
  color: $wordpress-color-light-grey;

  button {
    background-color: $wordpress-color-dark-grey;
    border-color: $wordpress-color-ultra-grey;
    color: $wordpress-color-light-grey;

    &::after {
      color: $wordpress-color-light-grey;
    }

    &:hover {

      background-color: $wordpress-color-dark-grey;
      border-color: $wordpress-color-ultra-grey;
      color: $wordpress-color-white;

      &::after {
        color: $wordpress-color-white;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////

.side-nav-wrap {
  .side-nav-content {
    border-color: $wordpress-color-light-grey;
  }

  > ul {
    li {
      a {
        background-color: $wordpress-color-dark-grey;
        border-color: $wordpress-color-ultra-grey;
        color: $wordpress-color-light-grey;

        &:focus,
        &:hover {
          background-color: $wordpress-color-ultra-grey;
        }
      }

      &.-active {
        a {
          &,
          &:focus,
          &:focus:active,
          &:hover {
            background-color: $wordpress-color-light-grey;
            border-color: $wordpress-color-light-grey;
            color: $wordpress-color-ultra-grey;
          }
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////

.wrap .log-box,
.-wrap.gnetwork-github-readme {
  background-color: $wordpress-color-dark-grey;
}

.wrap .log-box,
.wrap .log-box ol li {
  border-color: $wordpress-color-light-grey;
}

.wrap .-form .quicktags-toolbar {
  background-color: transparent !important;
}

.gnetwork-wrap.-media.-widget-form form {
  background-color: $wordpress-color-dark-silver;
  border-color: $wordpress-color-ultra-grey;
  color: $wordpress-color-light-grey;
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
