@import "modules/all";
@import "partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// @include theme-fonts-VazirMatn-Regular-CDN();
// @include theme-fonts-VazirMatn-Bold-CDN();

@include theme-fonts-VazirMatn-Regular-LOCAL();
@include theme-fonts-VazirMatn-Bold-LOCAL();

$font-family-base: $font-family-regular;
$font-family-head: $font-family-bold;
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/admin.rtl";
@import "partials/adminmenu.rtl";
@import "partials/customize.rtl";
@import "partials/blockeditor.rtl";
@import "partials/mejs.rtl";
@import "partials/contextual-help.rtl";
////////////////////////////////////////////////////////////////////////////////
@import "partials/admin.buddypress.rtl";
@import "partials/edit-flow.admin.rtl";
@import "partials/amp.admin.rtl";
@import "partials/query-monitor.admin.rtl";
@import "partials/rank-math-seo.admin.rtl";
@import "partials/members.admin.rtl";
@import "partials/woocommerce.admin.rtl";
// @import "partials/custom-contact-forms.admin.rtl";
@import "partials/shortpixel.admin.rtl";
@import "partials/gravityforms.admin.rtl";
@import "partials/sensei-lms.admin.rtl";
@import "partials/tablepress.admin.rtl";
@import "partials/simple-history.admin.rtl";
// @import "partials/wpmn.admin.rtl"; // NOTE: on WPMNv3 all issues resolved
////////////////////////////////////////////////////////////////////////////////
@import "partials/fa_IR.admin.all";

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
#wpadminbar *,
button:not(.dashicons),
span:not(.dashicons),
option:not(.code),
input:not(.code),
textarea:not(.code),
body {
  font-family: $font-family-regular !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-bold !important;
  font-weight: 700;
}

// #future-posts li,
// #published-posts li {
//   // line-height: initial;
// }

.tablenav-pages input.current-page,
.tablenav .tablenav-pages .button,
.tablenav .tablenav-pages .tablenav-pages-navspan {
  font-family: Consolas, Monaco, monospace !important; // must force this!
}

#wpadminbar {
  * {
    line-height: 2.75;
  }

  .quicklinks {
    li div.blavatar {
      margin-top: 3.5px;
    }

    li img.blavatar {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  #wp-admin-bar-bp-notifications {
    > a.ab-item {
      span.count {
        padding: 2px 6px !important;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 782px) {
  .wp-picker-container .wp-color-result-text {
    font-size: smaller;
    padding: 1px 14px 2px;
  }

  body.woocommerce-admin-page {
    &.post-type-shop_order,
    &.woocommerce_page_wc-orders {
      .wp-list-table .column-wc_actions a.button {
        min-height: 30px;
      }
    }
  }
}
