@import "modules/all";
@import "partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/adminbar.all";
@import "partials/adminbar.rtl";
@import "partials/debugbar.adminbar";

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
#wpadminbar {
  li#wp-admin-bar-wp-logo {
    > .ab-item .ab-icon::before {
      content: "\f319" / '';
      top: 3px;
    }
  }

  #wp-admin-bar-my-sites a.ab-item::before {
    margin-left: 0;
    margin-right: 0;
  }

  .gnetwork-adminbar-network-title {
    .ab-item {
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 782px) {
  #wpadminbar {
    li#wp-admin-bar-wp-logo {
      display: block; // on small screen core hides this

      > .ab-item .ab-icon {
        width: 46px; // same as height;

        &::before {
          top: -2px;
          left: 0 #{"/*!rtl:2px;*/"};
        }
      }
    }

    li#wp-admin-bar-gtheme-flush {
      display: block !important;
      position: static;
    }
  }
}

@media print {
  #wpadminbar {
    display: none;
  }
}
