@import "modules/all";
@import "partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/adminbar.all";
@import "partials/adminbar.misc";
@import "partials/adminbar.rtl";
@import "partials/buddypress.adminbar";
@import "partials/airplane-mode.adminbar";
// @import "partials/debugbar.adminbar"; // DISABLED: MUST DEPRECATE

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
#wpadminbar {
  li#wp-admin-bar-wp-logo {
    > .ab-item .ab-icon::before {
      content: "\f319" / '';
      top: 3px;
    }
  }
}

@media screen and (max-width: 782px) {
  #wpadminbar {
    li#wp-admin-bar-wp-logo {
      display: block; // on small screen core hides this

      > .ab-item .ab-icon {
        width: 46px; // same as height;

        &::before {
          top: -2px;
          left: 0 #{"/*!rtl:2px;*/"};
        }
      }
    }

    li#wp-admin-bar-gnetwork-flush {
      display: block !important;
      position: static;
    }

    .gnetwork-adminbar-node-icononly {
      .ab-icon {
        margin: 2px 0 -2px !important;
      }
    }

    .quicklinks > ul > li > a {
      padding: 0 !important;
    }
  }
}

@media print {
  #wpadminbar {
    display: none;
  }
}
