/* stylelint-disable no-invalid-position-at-import-rule */
@import "modules/all";
@import "partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// @include theme-fonts-VazirMatn-Regular-CDN();
// @include theme-fonts-VazirMatn-Bold-CDN();

@include theme-fonts-VazirMatn-Regular-LOCAL();
@include theme-fonts-VazirMatn-Bold-LOCAL();

$font-family-base: $font-family-regular;
$font-family-head: $font-family-bold;
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/admin.rtl";
@import "partials/blockeditor.rtl";
@import "partials/contextual-help.rtl";
////////////////////////////////////////////////////////////////////////////////
@import "partials/admin.buddypress.rtl";
@import "partials/edit-flow.admin.rtl";
@import "partials/amp.admin.rtl";
@import "partials/query-monitor.admin.rtl";
@import "partials/rank-math-seo.admin.rtl";
@import "partials/members.admin.rtl";
@import "partials/woocommerce.admin.rtl";
// @import "partials/custom-contact-forms.admin.rtl";
@import "partials/shortpixel.admin.rtl";
@import "partials/gravityforms.admin.rtl";
@import "partials/sensei-lms.admin.rtl";
@import "partials/tablepress.admin.rtl";
@import "partials/simple-history.admin.rtl";
@import "partials/wpmn.admin.rtl";
////////////////////////////////////////////////////////////////////////////////
@import "partials/fa_IR.admin.all";

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
body,
// #wpadminbar *,
button,
input,
select,
textarea {
  font-family: $font-family-regular !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-bold !important;
  font-weight: 700;
}

#future-posts li,
#published-posts li {
  // line-height: initial;
}

.tablenav-pages input.current-page,
.tablenav .tablenav-pages .button,
.tablenav .tablenav-pages .tablenav-pages-navspan {
  // @include theme-fonts-core-code;
  font-family: Consolas, Monaco, monospace !important;
}
