@import "modules/all";
@import "partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/blocks.all";
@import "partials/admin.blocks";
////////////////////////////////////////////////////////////////////////////////
@import "partials/typography.blocks.all";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// this will load with block editor

////////////////////////////////////////////////////////////////////////////////
.components-base-control .components-base-control__label,
.editor-block-inspector__card-description,
.components-external-link,
.edit-post-post-link__preview-label,
.editor-post-link > p {
  font-size: 0.65rem;
}

.edit-post-visual-editor .wp-block-shortcode .input-control,
.editor-post-permalink,
.editor-post-link .components-text-control__input,
.edit-post-post-link__link {
  /*rtl:ignore*/
  direction: ltr !important;
}

.editor-post-excerpt__textarea {
  margin-bottom: 0;
}

////////////////////////////////////////////////////////////////////////////////
/*rtl:begin:ignore*/

html[dir="rtl"] {
  .edit-post-post-link__link {
    display: block;
  }

  .editor-post-permalink__link::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 90%);
    left: auto;
    right: 1px;
  }
}

/*rtl:end:ignore*/

////////////////////////////////////////////////////////////////////////////////
