@import 'modules/all';
@import 'partials/base';
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import 'partials/embed.aparat.all';
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// this will load inside editor iframe

// TODO: import styles for module markups

html .mce-content-body.rtl {

  // shortcake
  .mce-offscreen-selection {
    left: auto !important;
    right: -9999999999px !important;
  }
}

html[lang=fa-IR] .mce-content-body.rtl {

  img[data-wp-more="more"] {
    background-image: url( '../images/tinymce/more-fa-IR.png' );
  }

  img[data-wp-more="nextpage"] {
    background-image: url( '../images/tinymce/pagebreak-fa-IR.png' );
  }

  ol {
    list-style-type: -moz-persian;
    list-style-type: persian;
  }
}
