@charset "UTF-8";

@import "modules/all";
@import "partials/base";
@import "partials/fonts";

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

@import "partials/themes.twentyfifteen";

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

body.rtl {
	font-family: $font-family-base !important;
}

ol {
	list-style-type: -moz-persian;
	list-style-type: persian;
}
