@import "modules/all";
@import "partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// @import "partials/embed.front.all";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// this will load with block editor

////////////////////////////////////////////////////////////////////////////////
.components-base-control .components-base-control__label,
.editor-block-inspector__card-description,
.components-external-link,
.editor-post-link > p {
  font-size: 0.65rem;
}

.edit-post-visual-editor .wp-block-shortcode .input-control,
.edit-post-post-link__link {
  /*rtl:ignore*/
  direction: ltr !important;
}

.editor-post-excerpt__textarea {
  margin-bottom: 0;
}

////////////////////////////////////////////////////////////////////////////////
/*rtl:begin:ignore*/

html[dir="rtl"] {

}

/*rtl:end:ignore*/

////////////////////////////////////////////////////////////////////////////////
