@import "modules/all";
@import "partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////////////////////
.wp-activate-container {
  margin: 0 auto 1rem;
  max-width: 576px;
  width: 90%;

  form {
    margin-top: 2rem;
  }

  h2 {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    > label {
      display: block;
    }
  }

  #key,
  #submit {
    box-sizing: border-box;
    width: 100%;
    font-size: 24px;
  }

  #language {
    margin-top: 0.5rem;
  }

  .error {
    background: $brand-danger; // #f66
  }

  span.h3 {
    padding: 0 8px;
    font-size: 1.3em;
    font-weight: 600;
  }
}
