@charset "UTF-8";

@import "modules/all";
@import "partials/base";
@import "partials/fonts";

.login {

	a {
		box-shadow: none;
	}

	h1 {
		a {
			background-image: none !important;
		}
	}

	#pass-strength-result {
		width: 96% !important;
	}

	form {
		border-radius: 2px;
		box-shadow: none !important;

		input[type="text"],
		input[type="password"] {
			margin-top: 10px !important;
		}

		p {
			text-align: center;
		}
	}

	#user_login,
	#user_pass {
		direction: ltr;
		margin-left: 0 !important;
	}

	#wp-submit {
		line-height: 18px;
	}

	#loginform {
		padding: 26px 24px;
	}

	#login_error {
		box-shadow: none !important;
	}

	.message {
		box-shadow: none !important;
	}

	p.sum {
		margin: 0;
		padding:20px 0 46px;

		label {
			vertical-align: inherit;
		}

		input[type="number"] {
			width: 38px;
			padding:0 2px;
		}
	}
}

body.rtl {

	#lostpasswordform {
		padding: 26px 24px;
	}

	input[type=checkbox]:checked:before {
		margin: -3px -2px 0 0 !important;
	}
}

.gnetwork-wrap {

	&.-footer {
		margin: 2em 0 1em;
		text-align: center;
	}
}
