@import "modules/all";
@import "partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// @include theme-fonts-VazirMatn-Regular-CDN();
// @include theme-fonts-VazirMatn-Bold-CDN();

@include theme-fonts-VazirMatn-Regular-LOCAL();
@include theme-fonts-VazirMatn-Bold-LOCAL();

$font-family-base: $font-family-regular;
$font-family-head: $font-family-bold;
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/fa_IR.login.all";

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
button:not(.dashicons),
option:not(.code),
input:not(.code),
textarea:not(.code),
body {
  font-family: $font-family-regular !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-bold !important;
  font-weight: 700;
}
