@import "modules/all";
@import "partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// @include theme-fonts-VazirMatn-Regular-CDN();
// @include theme-fonts-VazirMatn-Bold-CDN();

@include theme-fonts-VazirMatn-Regular-LOCAL();
@include theme-fonts-VazirMatn-Bold-LOCAL();

$font-family-base: $font-family-regular;
$font-family-head: $font-family-bold;
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
button:not(.dashicons,.qt-dfw),
span:not(.dashicons,.bp-badge),
option:not(.code),
input:not(.code),
textarea:not(.code),
body {
  font-family: $font-family-regular !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-bold !important;
  font-weight: 700;
}

////////////////////////////////////////////////////////////////////////////////
body.login {
  #user_login,
  #user_pass {
    direction: ltr;
  }

  p.description {
    text-align: right;
  }

  #lostpasswordform {
    padding: 26px 24px;
  }

  input[type="checkbox"]:checked::before {
    margin-right: -0.175rem;
  }

  .wp-tooltip .wp-tooltip__bubble {
    text-align: right;
  }
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/fa_IR.login.all";
