@import "modules/all";
@import "partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "partials/login.default.theme";
@import "partials/login.sidelogo.theme";
@import "partials/login.webogram.theme";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

body.login {
  @include theme-fonts-core-native;

  &.interim-login {
    h1 {
      display: none;
    }
  }

  h1 a {
    background-image: none;
    background-size: auto;
    width: auto;
  }

  #user_login,
  #user_pass {

    /*rtl:ignore*/
    direction: ltr;

    /*rtl:ignore*/
    margin-left: 0 !important;
  }

  #wp-submit {
    line-height: 18px;
  }

  #loginform,
  #registerform,
  #resetpassform,
  #lostpasswordform {
    padding: 16px 24px 26px;
  }

  .message,
  #login_error {
    box-shadow: none !important;
  }

  .message {
    &.-danger {
      border-left: 4px solid $brand-danger;
    }

    &.-warning {
      border-left: 4px solid $brand-warning;
    }

    &.-success {
      border-left: 4px solid $brand-success;
    }
  }

  p.login-sum {
    margin: 0;
    padding: 20px 0 46px;

    label {
      vertical-align: inherit;
    }

    input[type="number"] {
      height: 28px;
      padding: 0 2px;
      width: 58px;
    }
  }
}

body.rtl {
  #lostpasswordform {
    padding: 26px 24px;
  }

  input[type="checkbox"]:checked::before {

    /*rtl:ignore*/
    margin: -2px -2px 0 0 !important;
  }

  p.description {

    /*rtl:ignore*/
    text-align: right;
  }
}

.gnetwork-wrap {
  &.-footer {
    margin: 2em 0 1em;
    text-align: center;
  }
}
