@import "modules/all";
@import "partials/base";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.wp-signup-container {
  width: 90%;
  margin: 0 auto;

  > h2 {
    // display: none;
  }

  form {
    margin-top: 2em;
  }

  .error {
    font-weight: 700;
    padding: 10px;
    color: #333;
    background: #ffebe8;
    border: 1px solid #c00;
  }

  #blog_title,
  #blogname,
  #user_email,
  #user_name,
  input[type="submit"] {
    width: 100%;
    font-size: 24px;
    margin: 5px 0;
  }

  #site-language {
    display: block;
  }

  .prefix_address,
  .suffix_address {
    font-size: 18px;
    display: inline;
  }

  .prefix_address {

    /*rtl:ignore*/
    float: left;
  }

  label {
    font-weight: 700;
    font-size: 15px;
    display: block;
    margin: 10px 0;
  }

  label.checkbox {
    display: inline;
  }

  .mu_alert {
    font-weight: 700;
    padding: 10px;
    color: #333;
    background: #ffffe0;
    border: 1px solid #e6db55;
  }

  #blogname,
  #user_email,
  #user_name,
  .prefix_address,
  .suffix_address {

    /*rtl:ignore*/
    direction: ltr;
  }

  div.gnetwork-wrap-tos {

    margin: 10px 0;

    // we need current theme styles!
    // @include mainwrap();
    // @include box-reset();

    .-title {}

    .-text {
      width: 100% !important;
      height: 220px !important;
    }

    .-checkbox {
      vertical-align: middle !important;
    }
  }
}
