@import 'modules/all';
@import 'partials/base';
@import 'partials/theme.fonts';
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

// has RTL style

body, input, textarea, .site-description {
  font-family: Tahoma, "Iranian Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, blockquote, #access a {
  font-family: Arial, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight:bold;
}

.entry-header .entry-title {
  font-weight: bold;
}
