@charset "UTF-8";

// TODO: must load via action, just for RTL
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

$font-family-base: "Droid Arabic Naskh", Tahoma, "Iranian Sans", serif;
$font-family-head: Arial, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;

body.rtl {

	direction:rtl;
	font-family: $font-family-base;

	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
		font-family: $font-family-head;
	}

	.site-title	{
		font:bold 30px/35px $font-family-head;
	}

	.entry-title {
		font:bold 16.2px/21px $font-family-head;
	}

	.widget-area {
		.widget-title {
			font:bold 14.2px/18px $font-family-head;
		}
	}

	.entry-content {
		p {
			font:normal 14.4px/25.2px $font-family-base;
		}
	}

	.site-description,
	.main-navigation li,
	.widget-area li,
	.site-navigation,
	.post-navigation,
	.wp-caption .wp-caption-text,
	input[type=text],
	input[type=password],
	input[type=email],
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	textarea,
	select,
	button {
		font:normal 12.3px $font-family-base;
	}


	//{ font:normal 12.3px/14.8px "Droid Arabic Naskh", Tahoma, "Iranian Sans", verdana; }

	.entry-meta,
	.entry-meta a {
		font:normal 11.1px/16px $font-family-base;
	}

	.site-header a.site-logo {
		text-align: center;
		  display: block;

		& + hgroup {
			text-align:center;
		}
	}

	.widget_search {
		input[type="text"] {
			width:95.5%
		}
	}

	.site {
		margin-bottom:0;
	}

	button,
	input,
	select,
	textarea {
		max-width:100%;
	}

	.wp-caption {
		border-radius:3px;

		.wp-caption-text {
			margin:5px;
		}
	}

	.entry-content {
		ul, ol {
			margin: 0 3em 1.5em 0;
			list-style-type: -moz-persian;
			list-style-type: persian;

			li {
				margin-bottom:0.5em;
			}
		}
	}

	caption,
	th,
	td {
		text-align:right;
	}

	.site-content .nav-previous,
	.site-navigation .previous-image {
		float:right;
	}

	.site-content .nav-next,
	.site-navigation .next-image {
		float:left;
		text-align:left;
	}

	ol.commentlist {
		margin:0 60px 0 0;
		.avatar {
			float:right;
			margin-left: 6px;
			margin-right: -60px;
		}
	}

	ul.children {
		margin:0 44px 0 0;
	}

	input#email,
	input#url {
		direction:ltr;
	}

	textarea {
		padding-left:0;
		padding-right:3px;
	}

	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		padding: 0.15em 0.5em 0.05em;
	}

	option {
		padding:0;
	}

}

@media only screen and (max-width : 900px) {
	body.rtl {
	.main-small-navigation .menu-toggle:before {
		margin-left: 10px;
		margin-right: -20px;
	}
	.site-title,
	.site-description {
		clear: none;
		margin-right: 98px;
		margin-left:0;
	}
	.site-logo,
	.site-logo img {
		float: right;
		width: 78px;
	}
	.site-header a.site-logo + hgroup {
		text-align:right;
	}
}
}
@media only screen and (max-width : 600px) {
	body.rtl {
	}
}
/**--------------------------------------------**/
body.delnaha-network {
	.site-header a.site-logo + hgroup {
		display:none;
	}
}

/**--------------------------------------------**/
/**--------------------------------------------**/
