@import 'modules/all';
@import 'partials/base';
@import 'partials/theme.fonts';
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@include theme-fonts-Samim-CDN();
@include theme-fonts-Samim-Bold-CDN();

body.rtl {
  direction: rtl;
  font-family: $font-family-base;
}
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    font-family: $font-family-head;
  }

  .author-heading,
  .comment-awaiting-moderation,
  .comment-form label,
  .comment-list .reply a,
  .comment-metadata,
  .comment-navigation,
  .comment-notes,
  .comment-reply-title,
  .comments-title,
  .entry-caption,
  .entry-footer,
  .form-allowed-tags,
  .gallery-caption,
  .image-navigation,
  .logged-in-as,
  .main-navigation .menu-item-description,
  .no-comments,
  .page-links,
  .page-title,
  .pagination,
  .pingback .edit-link,
  .post-navigation .meta-nav,
  .post-navigation .post-title,
  .post-password-form label,
  .site-description,
  .site-title,
  .widget-title,
  .widget_calendar caption,
  .widget_rss .rss-date,
  .widget_rss cite,
  .wp-caption-text,
  blockquote cite,
  blockquote small,
  button,
  input,
  input[type="button"],
  input[type="reset"],
  input[type="submit"],
  select,
  textarea {
    font-family: $font-family-base;
  }

  .widget-title,
  .widget_calendar caption {
    letter-spacing: normal !important;
  }
// }

// http://stackoverflow.com/a/2610741
*::-moz-placeholder {
  font-family: $font-family-base !important;
}

*::-webkit-input-placeholder {
  font-family: $font-family-base !important;
}
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.entry-content {
  blockquote.epigraph,
  blockquote.intro-quote {
    margin-top: -3.5em !important;
  }

  sup.ref-anchor a {
    color: #999;
    text-decoration: none;
    border-bottom: none;

    &:hover {
      color: #222;
    }
  }

  .people.byline {
    margin: 0;
    font-size: 0.9em;

    &:before {
      display: none;
    }

    a {
      // color: #999;
      text-decoration: none;
      border-bottom: none;

      &:hover {
        // color: #222;
      }
    }
  }

  .geditorial-wrap.estimated {
    font-size: 0.8em;
  }

  .geditorial-wrap.estimated,
  .people.byline {
    &.-before {
      margin-bottom: 0.5em;
    }

    &.-after {
      margin-top: 0.5em;
    }
  }

  ol {
    list-style-type: -moz-persian;
    list-style-type: persian;
  }
}

.gnetwork-wrap-shortcode {
  &.shortcode-reflist {
    font-size: 0.89em;
    margin-top: 1.5em;
    padding-top: 1.5em;
    border-top: solid 1px #ddd;

    .cite-scroll {
      color: #999;
      text-decoration: none;
      border-bottom: none;

      &:hover {
        color: #222;
      }
    }
  }
}

.gnetwork-wrap-actions {
  &.content-before {
    margin-top: -2em !important;
    margin-bottom: 4em !important;
  }

  &.content-after {
    margin-top: 2em !important;
  }
}
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.author-link:after,
.byline:before,
.bypostauthor > article .fn:after,
.cat-links:before,
.comment-navigation .nav-next a:after,
.comment-navigation .nav-previous a:before,
.comment-reply-title small a:before,
.comments-link:before,
.dropdown-toggle:after,
.edit-link:before,
.entry-content .more-link:after,
.entry-format:before,
.entry-summary .more-link:after,
.format-link .entry-title a:after,
.full-size-link:before,
.image-navigation a:after,
.image-navigation a:before,
.pagination .next:before,
.pagination .prev:before,
.posted-on:before,
.secondary-toggle:before,
.social-navigation a:before,
.tags-links:before {
  font-size: 20px;
}
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@media screen and (min-width: 59.6875em) {
  .site-branding {
    .custom-logo-link + .site-title,
    .custom-logo-link + .site-title + .site-description {
      text-align: center;
    }
  }
}
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// @media screen and (min-width: 77.5em) {
//   .posted-on:before, .byline:before, .cat-links:before, .tags-links:before, .comments-link:before, .entry-format:before, .edit-link:before, .full-size-link:before {
//       top: 4px;
//   }
// }
//
// @media screen and (min-width: 68.75em) {
//   .posted-on:before, .byline:before, .cat-links:before, .tags-links:before, .comments-link:before, .entry-format:before, .edit-link:before, .full-size-link:before {
//       top: 3px;
//   }
// }
//
// @media screen and (min-width: 59.6875em) {
//   .posted-on:before, .byline:before, .cat-links:before, .tags-links:before, .comments-link:before, .entry-format:before, .edit-link:before, .full-size-link:before {
//       top: 0;
//   }
// }
//
// @media screen and (min-width: 55em) {
//   .posted-on:before, .byline:before, .cat-links:before, .tags-links:before, .comments-link:before, .entry-format:before, .edit-link:before, .full-size-link:before {
//       top: 4px;
//   }
// }
//
// @media screen and (min-width: 46.25em) {
//   .posted-on:before, .byline:before, .cat-links:before, .tags-links:before, .comments-link:before, .entry-format:before, .edit-link:before, .full-size-link:before {
//       top: 3px;
//   }
// }
