@import 'modules/all';
@import 'partials/base';
@import 'partials/theme.fonts';
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@include theme-fonts-Samim-CDN();
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

body.rtl {
  direction: rtl;
  font-family: $font-family-base;
}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    font-family: $font-family-head;
  }

  .primarymenu.alternative .main-navigation.toggled ul {
    text-align: right;
  }

  .widget_search .search-submit {
    float: left;
  }

  // .widget_archive a:after,
  // .widget_categories a:after {
  //   left: auto;
  //   right: 0;
  // }

  .entry-content {
    ol {
      list-style-type: -moz-persian;
      list-style-type: persian;
    }
  }
// }

#colophon {
  display: none;
  visibility: hidden;
}
// http://stackoverflow.com/a/2610741
*::-moz-placeholder {
  font-family: $font-family-base !important;
}

*::-webkit-input-placeholder {
  font-family: $font-family-base !important;
}
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
