////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Modules: Responsive -----------------------------------------------

// SEE: http://jsfiddle.net/masau/7wrhm/
@mixin theme-responsive-iframe(){
	& {
		position: relative;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
