%box-reset {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.gnetwork-wrap {
    @extend %box-reset;
    padding:0;
    margin:0;
    border:0;
    
    & *,
    &:after,
    & *:after,
    &:before,
    & *:before {
        @extend %box-reset;
    }
}
