////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: AdminBar Module: Misc

////////////////////////////////////////////////////////////////////////////////
@use "sass:color";

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
#wpadminbar {
  .gnetwork-adminbar-network-title {
    .ab-item {
      font-weight: 600;
    }
  }

  .shortlink-input {
    color: #000;
    font-weight: 400;
    width: 260px;
    padding: 4px 6px;
    box-shadow: none;
    border: none;

    /*rtl:ignore*/
    direction: ltr;
  }
}

////////////////////////////////////////////////////////////////////////////////
#wp-admin-bar-gnetwork-info-sub {
  a.ab-item {
    height: auto !important;
    white-space: normal  !important;
    line-height: 1.6  !important;
    font-size: smaller  !important;
  }
}

#wp-admin-bar-gnetwork-cron-status {
  // max-width: 210px; // default min-width;
  border-bottom: 1px solid color.adjust(#464b50, $lightness: 10%);
  padding-bottom: 6px  !important;
  margin-bottom: 5px !important;
}
