////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Admin Rows

////////////////////////////////////////////////////////////////////////////////
@use "sass:color";

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
ul.-rows {

  list-style: none;
  margin: 0;
  padding: 0;

  .-row {
    margin-bottom: 4px;
    font-size: 0.89em;

    .-icon {
      cursor: help;
      margin: 0 4px 0 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.-wrap.-icon-list ul li,
ul.-rows .-row {
  > code {
    vertical-align: middle;
  }

  svg,
  span.dashicons {
    color: #b4b9be;
    width: $spacer;
    height: $spacer;
    font-size: $spacer;
    // vertical-align: middle;
    vertical-align: text-top;
    transition: all 0.3s ease;
  }

  &:hover {
    svg {
      fill: $gray-dark;
      transition: all 0.1s ease;
    }

    .-icon span.dashicons {
      color: $gray-dark;
      transition: all 0.1s ease;
    }
  }

  a:focus {
    box-shadow: none;
  }

  .-is-valid,
  .-valid {
    color: $brand-success;

    &:hover {
      color: color.adjust($brand-success, $lightness: -20%);
    }
  }

  .-is-invalid,
  .-not-valid {
    color: $brand-danger;

    &:hover {
      color: color.adjust($brand-danger, $lightness: -20%);
    }
  }
}
