////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Nav -----------------------------------------------------

.side-nav-wrap {
  position: relative;
  margin-top: 30px;

  > .notice {
    margin-left: 135px;
  }

  .side-nav-content {
    margin-left: 115px;
    margin-top: 0;
    padding: 1px 0 0 20px;
    // min-height: 370px;
    min-height: 100vh;
    border-left: 1px solid #ccc;

    // > form > h2,
    // > form > h3 {
    //   margin-top: 0;
    // }

    .-wrap.-toolbox-column > .-title {
      margin-top: 0;
    }
  }

  > .-title {
    position: absolute;
    top: 5px;
    margin: 0;
    padding-left: 5px;
  }

  > ul {
    position: absolute;
    left: 0;
    top: 20px;
    width: 115px;

    li {
      a {
        padding: 6px 10px;
        text-decoration: none;
        display: block;
        border: 1px solid #ccc;
        border-right: none;
        font-size: 14px;
        color: #555;
        background: #e5e5e5;
      }

      &.-active {
        a {
          // line-height: 18px;
          z-index: 50 !important;
          border: 1px solid #ccc;
          border-right-color: #f1f1f1;
          margin: 0 -1px 0 0;
          width: 104px;
          padding: 6px 0 6px 10px !important;
          background: #f1f1f1;
        }
      }
    }

    // TODO: must hide on small screen if next to an icon!
    span.-nav-link-title {
      white-space: nowrap;
    }

    span.-nav-link-icon {
      margin-left: -5px;

      svg {
        vertical-align: middle;
      }
    }
  }

  .base-table-wrap {
    .base-table-title {
      h2,
      h3,
      h4 {
        margin-top: 0;
      }
    }
  }

  @include theme-clearfix;
}
