////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Importer ------------------------------------------------
// FIXME: must check the html

table.gnetwork-sidebyside { width:100%;}
table.gnetwork-sidebyside td { padding:0; vertical-align:top; }
table.gnetwork-sidebyside td.wider{ width:65%; }
table.gnetwork-sidebyside td.sider{ }

#gimporter_people .byline { padding:10px 5px; }
