////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Admin Buttons

////////////////////////////////////////////////////////////////////////////////
@use "sass:color";

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.-wrap {

  // @REF: https://make.wordpress.org/core/2019/12/10/alternate-color-schemes-changes-in-wordpress-5-3-1/
  .-button:not(.button) {
    border-color: #7e8993;
    color: #32373c;

    &:hover {
      border-color: color.adjust(#7e8993, $lightness: -5%);
      color: color.adjust(#32373c, $lightness: -5%);
    }

    &:focus {
      border-color: #7e8993;
      color: color.adjust(#32373c, $lightness: -5%);
      box-shadow: 0 0 0 1px #32373c;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
