////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: List ----------------------------------------------------

ul {
  &.base-list-code,
  &.base-list-side {
    width: 100%;
  }
}

ul.base-list-code {

  /*rtl:ignore*/
  direction: ltr;
  margin: 1em 0 0;

  li {

    /*rtl:ignore*/
    margin-right: 4px;
    display: inline-block;
  }

  code {
    cursor: pointer;
  }

  // FIXME: make this genearl!
  .-info {
    color: $brand-info;
  }

  .-success {
    color: $brand-success;
  }

  .-warning {
    color: $brand-warning;
  }

  .-danger {
    color: $brand-danger;
  }
}
