////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: AdminBar Module: All

////////////////////////////////////////////////////////////////////////////////
@use "sass:color";

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
#wpadminbar {
  .gnetwork-adminbar-node {
    &.-ltr {
      /*rtl:begin:ignore*/
      direction: ltr;
      text-align: left;
      /*rtl:end:ignore*/
    }
  }

  // node contains icon only
  .gnetwork-adminbar-node-icononly {
    .ab-icon { // may or not with `.dashicons`
      padding: 0 !important;
      margin: 6px -1px 6px 0 !important;
    }

    &.-notext {
      > .ab-item { // icon is by core css and text is empty
        padding-right: 0;
      }
    }
  }

  // for top level only
  .quicklinks > ul > li > a {
    padding: 0 7px 0 7px;
  }

  .quicklinks li div.blavatar {
    &::before {
      content: "\f319" !important; // globe
    }

    &.-site::before {
      content: "\f541" !important;
    }

    &.-network::before {
      content: "\f111" !important;
    }

    &.-user::before {
      content: "\f110" !important;
    }

    &.-update::before {
      content: "\f325" !important;
    }
  }
}
