////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: adminMenu: RTL

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
#adminmenu  {
  .menu-counter,
  .awaiting-mod,
  .update-plugins {
    line-height: 2;
    margin-top: -1px;
  }
}
