////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Form ----------------------------------------------------

// TODO: check new core styles: https://make.wordpress.org/core/2019/10/18/noteworthy-admin-css-changes-in-wordpress-5-3/

////////////////////////////////////////////////////////////////////////////////
.wrap {
  input[type="text"] {
    vertical-align: middle;
  }

  input[type="number"] {
    &[dir="ltr"].small-text {
      /*rtl:begin:ignore*/
      padding-left: 6px;
      padding-right: 0;
      /*rtl:end:ignore*/
    }
  }

  input[data-ortho="number"] {
    &.tiny-text {
      width: 45px;
    }
  }

  input.small-text {
    // padding: 5px 5px 4px;
  }

  input.small-text,
  .form-field input.small-text {
    width: 65px;
  }

  input[data-ortho="number"].small-text {
    width: 65px;
  }

  input[type="color"] {
    padding: 0 1px;
  }

  // @REF: `.wp-upload-form`
  input.-type-file {
    box-sizing: border-box;
    width: 100%;
    max-width: 380px;
    margin: 0 0 1em 0;
    padding: 1em;
    background: lighten($gray-light, 50%);
    border: 1px solid $gray-lighter;
    border-radius: 2px;

    + p.description {
      margin-top: -1em;
    }
  }

  input.medium-text,
  textarea.medium-text,
  .form-field .medium-text {
    width: 12em;
  }

  input.code-text,
  input.email-text,
  input.ip-text,
  input.url-text,
  textarea.code-text {

    /*rtl:ignore*/
    direction: ltr;
    font-family: Consolas, Monaco, monospace;
    unicode-bidi: embed;
    font-size: 14px;
    background: #f9f9f9;
    outline: none;
  }

  input.code-text,
  textarea.code-text {}

  input.email-text,
  input.ip-text,
  input.url-text {}

  .wp-color-result {
    height: 21px;
  }
}
