////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: AdminBar Module: All ------------------------------------

#wpadminbar {
  .shortlink-input {
    color: #000;
    font-weight: 400;
    width: 260px;
    padding: 4px 6px;
    box-shadow: none;
    border: none;

    /*rtl:ignore*/
    direction: ltr;
  }

  .quicklinks li .blavatar {
    &::before {
      content: "\f319" !important; // globe
    }

    &.-site::before {
      content: "\f541" !important;
    }

    &.-network::before {
      content: "\f111" !important;
    }

    &.-user::before {
      content: "\f110" !important;
    }

    &.-update::before {
      content: "\f325" !important;
    }
  }

  #wp-admin-bar-wp-logo.menupop > .ab-item .ab-icon::before {
    content: "\f319";
  }

  #wp-admin-bar-my-sites a.ab-item::before {
    margin-left: 0;
    margin-right: 0;
  }

  .gnetwork-adminbar-network-title {
    .ab-item {
      font-weight: 600;
    }
  }

  #wp-admin-bar-gnetwork-cron-status {
    max-width: 210px; // default min-width;

    border-bottom: 1px solid lighten(#464b50, 10%);
    padding-bottom: 6px; // ul padding

    a.ab-item {
      height: auto;
      white-space: normal;
      line-height: 1.6;
      font-size: smaller;
    }
  }

  // .quicklinks .menupop ul li .ab-item,
  // .quicklinks .menupop ul li a strong,
  // .quicklinks .menupop.hover ul li .ab-item,
  // &.nojs .quicklinks .menupop:hover ul li .ab-item {
  //   min-width: 210px;
  // }

  body.rtl & {
    * {
      @include theme-fonts-core-native;
    }

    > #wp-toolbar > #wp-admin-bar-root-default .ab-icon,
    .ab-icon,
    .ab-item::before {
      @include theme-fonts-core-dashicons;
    }

    .menupop .menupop > .ab-item::before {
      right: 2px;
    }

    .ab-top-secondary .menupop .menupop > .ab-item::before {
      left: 2px;
    }

    #wp-admin-bar-airplane-mode-toggle .ab-icon {
      margin-right: 0 !important;
      margin-top: 1px;
    }
  }
}
