////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Admin Colors


////////////////////////////////////////////////////////////////////////////////
.-color-gray-base {
  color: $gray-base !important;
}

.-color-gray-darker {
  color: $gray-darker !important;
}

.-color-gray-dark {
  color: $gray-dark !important;
}

.-color-gray {
  color: $gray !important;
}

.-color-gray-light {
  color: $gray-light !important;
}

.-color-gray-lighter {
  color: $gray-lighter !important;
}

////////////////////////////////////////////////////////////////////////////////
.-color-primary {
  color: $brand-primary !important;
}

.-color-success {
  color: $brand-success !important;
}

.-color-info {
  color: $brand-info !important;
}

.-color-warning {
  color: $brand-warning !important;
}

.-color-danger {
  color: $brand-danger !important;
}
