////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Form ----------------------------------------------------

.wrap {

  input[type="text"] {
    vertical-align: middle;
  }

  input[data-ortho="number"].tiny-text {
    width: 45px;
  }

  input.small-text {
    padding: 5px 5px 4px;
  }

  input.small-text,
  .form-field input.small-text {
    width: 65px;
  }

  input[data-ortho="number"].small-text {
    width: 65px;
  }

  input[type="color"] {
    padding: 0 1px;
  }

  input.medium-text,
  textarea.medium-text,
  .form-field .medium-text {
    width: 12em;
  }

  input.code-text,
  input.email-text,
  input.ip-text,
  input.url-text,
  textarea.code-text {
    direction: ltr;
    font-family: Consolas, Monaco, monospace;
    unicode-bidi: embed;
    font-size: 14px;
    background: #f9f9f9;
    outline: none;
  }

  input.code-text,
  textarea.code-text {}

  input.rtl-placeholder
  textarea.rtl-placeholder {

    @include body-rtl() {
      // not working!
      // @SEE: https://developer.mozilla.org/en-US/docs/Web/CSS/::placeholder
      &::placeholder {
        text-align: right;
        direction: rtl;
      }
    }
  }

  input.email-text,
  input.ip-text,
  input.url-text {}

  .wp-color-result {
    height: 21px;
  }
}
