////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Admin Heading

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.wrap { // wp core class

  // body.wp-admin.edit-php & {
  //   .wp-heading-inline { // wp core class
  //     + .page-title-action {
  //       margin-right: 0; // needed only on edit-posts, not edit-tags!
  //     }
  //   }
  // }

  // WooCommerce
  // h2.wc-shipping-zones-heading > span {
  //   margin-right: 5px;
  // }

  .page-title-action { // wp core class
    // &:active {
    //   margin-left: unset;
    // }

    // margin-left: 0;
    // margin-right: $spacer * .25;

    // NOTE: better not to have space between icon and text
    .dashicons {
      vertical-align: middle;
      position: unset;
      top: unset;

      width: 22px !important;
      height: 18px;
      margin: -4px ($spacer * .25) 0 -2px;

      &::before {
        color: $gray-light;
        font-size: 20px;
      }
    }

    .-iconsvg {
      // margin: 0;
      padding: 0 ($spacer * .5) 0 ($spacer * .25);

      svg {
        height: 20px;
        width: 20px;
        vertical-align: middle;
        color: $gray-light;
      }
    }

    img.-icon.-encoded {
      margin: 0 2px 0 -2px;
      width: 22px;
      height: 20px;
      vertical-align: middle;
      fill: $gray-light;
    }

    &.-has-icon {
      padding-left: 7.5px;
    }

    &.-only-icon {
      padding: 0 7.5px; // ($spacer * .5);

      .dashicons,
      .-iconsvg {
        padding: 0;
        margin: 0;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
@media screen and ( max-width: 782px ) {

  .wrap { // wp core class
    .page-title-action { // wp core class

      // NOTE: large icons on mobile
      &.-only-icon {
        // padding: 0 8px 3px;
        // top: -4px;

        .-iconsvg {
          // vertical-align: text-top;

          svg {
            width: 36px;
            height: 36px;
          }
        }
      }
    }
  }
}
