////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: AdminBar Module -----------------------------------------

#wpadminbar {

	.shortlink-input {
		color:#000;
		font-weight:bold;
	}

	.quicklinks li .blavatar:before {
		content: "\f319" !important;
	}

	#wp-admin-bar-wp-logo.menupop > .ab-item .ab-icon:before {
		content: "\f319";
	}

	#wp-admin-bar-my-sites a.ab-item:before {
		margin-left:0px;
		margin-right:0px;
	}

	// MUST BE ON WP CORE!
	@include body-rtl() {
		.menupop .menupop > .ab-item:before {
			content: "\f141" !important;
			left:2px;
		}

		.ab-top-secondary .menupop .menupop > .ab-item:before {
			content: "\f139" !important;
			right:2px;
		}

		// #wp-admin-bar-airplane-mode-toggle span.airplane-toggle-icon {
		// 	margin-right:0;
		// 	margin-left:7px;
		// }
	}
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// BUDDYPRESS ADMIN BAR-------------------------------------------------------

// not quite what i excpected
// SEE: https://github.com/sass/sass/issues/556
// @import '../../../buddypress/bp-core/css/admin-bar-rtl.css';
