////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Wrap

////////////////////////////////////////////////////////////////////////////////
@use "sass:math"; // @REF: https://sass-lang.com/d/slash-div
@use "sass:color";

$spacer: 1rem !default;

////////////////////////////////////////////////////////////////////////////////
.wrap {
  .-wrap.-danger,
  .-button.button-reset,
  .-button.button-danger {
    color: $brand-danger;

    &:hover {
      color: color.adjust($brand-danger, $lightness: -20%);
    }
  }

  .-button.-button-icon {
    padding: 0 8px !important;

    .dashicons {
      // vertical-align: text-top;
      position: relative;
      top: 5px;
    }

    &.-button-icon-with-text {
      padding-left: 6px !important;
    }
  }

  .-wrap.card {
    &.-floated {
      float: left;
      margin: 0 0.5em 0.5em 0;
      max-width: 460px;
      min-width: math.div(460px, 2);
    }
  }

  .-wrap-button-row {
    margin-top: $spacer * .5;

    &:last-of-type {
      margin-bottom: $spacer * .75;
    }
  }

  .-wrap-buttons {
    padding: 0;
    margin-bottom: .5em;

    &.-side {
      float: right;
      margin-top: 0;

      &.-side-ltr {
        /*rtl:ignore*/
        float: right;
      }
    }

    > .dashicons {
      vertical-align: middle;
    }

    .button {
      // margin-bottom: .5em;
    }
  }

  .-field-after {
    margin-left: 4px;

    .-button + .-icon-wrap,
    &.-icon-wrap > a {
      color: $gray-darker;
      display: inline-block;
      text-decoration: none;

      &:hover {
        color: $gray;
      }
    }

    .-button + .-icon-wrap {
      vertical-align: top;
      margin-top: 4px;
      margin-left: 3px;
    }

    &.-icon-wrap > a {
      vertical-align: middle;
    }

    &.-link-wrap {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .-field-after-placeholders {
    h5 {
      margin: .5rem 0 .5rem;
    }

    ul {
      display: flex;
      margin: 0 0 .5rem;

      code,
      li {
        font-size: 11px;
      }

      li + li {
        margin-left: .25rem;
      }
    }
  }

  // .-field-after {
  //   vertical-align: middle;
  ///
  //   // &.-text-wrap {}
  //   // &.-link-wrap {}
  ///
  //   &.-constant-wrap {
  //     cursor: pointer;
  //   }
  ///
  //   &.-icon-wrap {
  //     a {
  //       color: $gray-light;
  //       display: inline-block;
  //       line-height: 22px;
  //       text-decoration: none;
  ///
  //       &:hover {
  //         color: #0073aa;
  //       }
  ///
  //       &:focus {
  //         outline: none;
  //         box-shadow: none;
  //       }
  //     }
  ///
  //     .dashicons {
  //       width: 22px;
  //       height: 22px;
  //       font-size: 22px;
  //       vertical-align: text-top;
  //     }
  //   }
  // }

  div.-sidebox {

    box-sizing: border-box;
    width: 25%;
    float: right;
    color: #666;
    border-left: 1px solid #ccc;

    margin-top: 0.5em;
    padding: 0.5em 0 0.5em 1em;

    ol,
    ul {
      margin: 0;
    }

    p {
      margin-top: 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    code {
      word-wrap: break-word;
    }

    table caption {
      text-align: inherit;
    }

    &.oldoptions {
      border-color: $brand-danger;
      clear: right;
    }
  }

  .-form {
    &.has-sidebox {
      .form-table {
        width: 75%;
        clear: none;
      }
    }

    .quicktags-toolbar {
      min-height: 30px;
      position: relative;

      input.button.button-small {
        font-size: 12px;
        height: 26px;
        line-height: 24px;
        margin: 0 2px 0 0;
      }
    }

    .quicktags-rtl {

      /*rtl:ignore*/
      direction: rtl;
    }
  }
}
