
// FIXME: move this to where it blongs!

table.helper-table {
	.-column-debug {
		padding: 0;
	}

	pre {
		margin: 0;
		padding: 0;
	}
}

// OLD: WTF?!
table.helper-table-side {

	direction: ltr;


	table {
		width: 100%;
		direction: ltr;
	}

	// td {
	// 	vertical-align: top;
	// }
	//
	// td,
	// th {
	// 	padding: 8px 10px;
	// }
	// pre {
	// 	margin: 0;
	// }

	.-row {}
	.-key {}
	.-val {}

	border: 1px solid #ccc;
	border-width: 1px 1px 1px 0;
	border-spacing: 0;
	margin: .7em 0 1.5em;
	width: 100%;

	td {
		border: 1px solid #ccc;
		border-width: 1px 0 0 1px;
		padding: 6px 15px;
	}

	th {
		background-color: #f7f7f7;
		color: #555;
		border-left: 1px solid #ccc;
		font-weight: bold;
		padding: 6px 15px;
	}

	tr {
		border: 0;
		border-width: 0;
	}

	ul,
	ol,
	p,
	blockquote {
		margin-top: 0 !important;
		margin-bottom: 1.6em !important;
	}
}
