////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Table ---------------------------------------------------

table {
	&.base-table-list,
	&.base-table-code,
	&.base-table-side-wrap,
	&.base-table-side {

		width: 100%;
	}
}

div.base-table-actions {

	&.base-table-list-before {
		margin-bottom: 4px;
	}

	&.base-table-list-after {
		margin-top: 4px;
	}

	input.base-table-paged,
	input.base-table-limit {
		margin: 0 4px 0 0;
		@include body-rtl() {
			margin: 0 0 0 4px;
		}
	}
}

table.base-table-list {

	> .-before {}
	> .-after {}

	thead {
		.check-column {
			width: 2.2em;
			// width: 6px;
		}

		.-column-slug {
			width: 25%;
		}
	}

	td {
		vertical-align: top;
	}

	td,
	th {
		padding: 8px 10px;
	}

	.-cb-all {}
	.-cb {}
	.-column {}

	.-column-id,
	.-column-ID,
	.-column-post_id,
	.-column-term_id {
		width: 60px;
	}

	.-column-count {
		width: 40px;
	}

	.-column-content {}
	.-column-info {
		width: 34%;
	}

	.-column-tasks {}
	.-column-next {
		width: 34%;
	}

	.-column-date { width: 8%; }
	.-column-type { width: 6%; }

	.-column-post {}
	.-column-media {}

	.-column-debug {
		padding: 0;
	}

	.-row {}
	.-cell {}

	pre {
		margin: 0;
		padding: 0;
	}
}

table.base-table-code {

	> tbody > tr > td {

		padding: 5px 2px;

		&.-var {
			width: 185px;
		}

		&.-val {

		}
	}
}

table.base-table-side {

	direction: ltr;
	border: 1px solid #ccc;
	border-spacing: 0;

	tr.-row {}

	td.-key {
		padding: 5px 5px;
		vertical-align: top;
		text-align: right;

		strong {}

		small {
			color: gray;
		}
	}

	td.-val {
		vertical-align: top;

		&.-table {}

		&.-not-table {
			padding: 4px 2px;
		}

		code {}
	}

	.-empty {}
}

table.base-table-side-wrap {

	direction: ltr;

	border: 1px solid #ccc;
	border-width: 1px 1px 1px 0;
	border-spacing: 0;
	margin: .7em 0 1.5em;
	width: 100%;

	td {
		border: 1px solid #ccc;
		border-width: 1px 0 0 1px;
		padding: 6px 15px;
	}

	th {
		background-color: #f7f7f7;
		color: #555;
		border-left: 1px solid #ccc;
		font-weight: bold;
		padding: 6px 15px;
	}

	tr {
		border: 0;
		border-width: 0;
	}

	ul,
	ol,
	p,
	blockquote {
		margin-top: 0 !important;
		margin-bottom: 1.6em !important;
	}
}
