////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Icon ----------------------------------------------------

[data-icon="dashicons"] {
  &.-danger {
    color: $brand-danger;

    &:hover {
      color: darken($brand-danger, 20%);
    }
  }

  &.-success {
    color: $brand-success;

    &:hover {
      color: darken($brand-success, 20%);
    }
  }
}
