////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Admin Tools

////////////////////////////////////////////////////////////////////////////////
.-wrap.-toolbox-card {
  .-base.nav-tab-base & {
    max-width: 100%;
  }

  h3.title {
    margin: 1rem 0;
  }

  h4.title {
    margin: .75rem 0 .5rem;
  }

  .-wrap-buttons.-toolbox-buttons {
    margin-top: .75rem;
  }
}

.-wrap.-toolbox-links {
  ul {
    display: flex;
    // list-style: none;
    padding: 0;
    margin: 1rem 0 0;

    li + li {
      margin-left: .25rem;
    }
  }
}
