////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Admin Helpers

// NOTE: NOT USED YET!
////////////////////////////////////////////////////////////////////////////////
.theme-helpers {
  &-text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-d-inline-block {
    display: inline-block;
  }
}
////////////////////////////////////////////////////////////////////////////////
