////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Settings Admin ALL

////////////////////////////////////////////////////////////////////////////////
.wrap.-settings-wrap {
  // form.-form {}
  // table.form-table {}

  // FIXME: must check the html
  .button.button-small {
    vertical-align: middle;
  }

  .button.button-icon {
    padding: 1px !important;
  }

  .-wrap.-type-object-wrap {
    .-object-group {
      border: 1px solid #ddd;
      padding: .25rem .25rem;

      + .-object-group {
        margin-top: .5rem;
      }

      position: relative;

      .-group-controls {
        position: absolute;
        left: -25px;
        top: .25rem;
      }
    }

    a.-icon-button {
      display: inline-block;
      text-decoration: none;
      color: $gray;

      &:hover,
      &:focus {
        color: $gray-darker;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
.wrap.gnetwork-admin-wrap {
  // padding-right: 20px;

  .gnetwork-form {
    // .form-table {}

    .base-table-wrap {
      // margin-right: 10px;
    }


    input.big-text {
      width: 56em;
    }

    tr td {
      vertical-align: top;
    }

    tr th .side-buttons {
      // margin-top: 0.8em;
      line-height: 1;
      text-align: right;
    }

    tr th .side-buttons .button {
      display: block;
    }

    textarea {
      outline: none;
    }

    .CodeMirror { /* stylelint-disable-line selector-class-pattern */
      border: 1px solid #ddd;
      height: 120px; // default is `300px`
    }
  }
}
