////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Admin Tools

////////////////////////////////////////////////////////////////////////////////
$spacer: 1rem !default;

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.-wrap.-toolbox-column {
  > .-title {
    text-align: center;
    color: $gray-light;
    margin-top: $spacer * 2;
    margin-bottom: - ($spacer * .5);
  }

  > .-description {
    text-align: center;
    margin-top: $spacer;
  }

  > .-toolbox-after {
    position: relative;
    margin-top: $spacer;
    min-width: 255px;
    max-width: 520px;
  }

  > .-toolbox-after,
  > .-toolbox-card {
    margin-left: auto;
    margin-right: auto;
  }
}

////////////////////////////////////////////////////////////////////////////////
.-wrap.-toolbox-card {
  .-base.nav-tab-base & {
    max-width: 100%;
  }

  > h3.title {
    margin: $spacer 0;
  }

  > h4.title {
    margin: .75rem 0 .5rem;
  }

  > .title {
    + .description {
      margin-top: -($spacer * .5);
    }

    span.-icon-wrap {
      font-weight: 400;

      .dashicons {
        width: 16px;
        height: 16px;
        font-size: 16px;
      }
    }
  }

  .-wrap-buttons.-toolbox-buttons {
    margin-top: $spacer * .75;
  }

  .-wrap-button-row + .title {
    margin-top: $spacer * 2;
  }

  ul.-wrap-list-items {
    margin-bottom: 0;
    @include theme-clearfix;

    li {
      width: 50%;
      float: left;
      margin-bottom: $spacer * .5;
    }
  }

  input.regular-text {
    max-width: 100%;
  }

  pre {
    /*rtl:ignore*/
    direction: ltr;
    background: #f5f2f0;
    overflow: auto;
    margin: 0 -2em -1em -2em; // padding for card
    padding: $spacer;
    unicode-bidi: embed;
    font-size: 13px;
    @include theme-fonts-core-code;
  }
}

////////////////////////////////////////////////////////////////////////////////
.-wrap.-tablelist-card {
  padding-top: $spacer;

  > .title {
    margin-top: 0 !important;
    margin-bottom: $spacer * .75 !important;

    + .description {
      margin-top: $spacer * -.125;
    }
  }

  > .base-table-wrap {
    border-top: 1px solid #c3c4c7;

    // NOTE: better to use negative margin than changing padding of the wrapper
    margin-left: -2em;
    margin-right: -2em;
    margin-bottom: -1em;

    table {
      border: none;
    }
  }

  th.-column.-results-rowtype {
    width: 175px;
  }
}

////////////////////////////////////////////////////////////////////////////////
.-wrap.-toolbox-links {
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: $spacer 0 ($spacer * .75);

    li {
      margin-right: $spacer * .25;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
