////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Admin Helpers

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
hr.-silent {
  border: none !important;
  margin: $spacer 0 0 0 !important;
  display: block;
}

////////////////////////////////////////////////////////////////////////////////
// NOTE: NOT USED YET!
.theme-helpers {
  &-text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-d-inline-block {
    display: inline-block;
  }
}
////////////////////////////////////////////////////////////////////////////////
