////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Admin Widgets

////////////////////////////////////////////////////////////////////////////////
.-wrap.-admin-widgetform {
  @include theme-gutter-reset;
  margin-bottom: 2em;

  p {
    padding-bottom: 0;
    margin-bottom: 1em;

    select {
      width: 100%;
    }

    label {
      + textarea,
      input[type="url"],
      input[type="text"] {
        margin-top: .5em;
      }
    }

    + .-description {
      margin-top: -1em;
    }
  }

  > .-group {
    margin: 2em 0;

    &:first-of-type {
      margin-top: 1em;
    }

    .-title {
      margin-bottom: .5em;
    }

    .-label {
      padding-bottom: .5em;
    }

    p {
      margin: 0 0 .5em 0;
    }
  }
}
