////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Admin Rows

////////////////////////////////////////////////////////////////////////////////
@use "sass:color";

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
ul.-rows {

  list-style: none;
  margin: 0;
  padding: 0;

  .-row {
    margin-bottom: 4px;
    font-size: 0.89em;

    .-icon {
      cursor: help;
      margin: 0 4px 0 0;
    }

    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  &.-flex-rows {
    display: flex;
    flex-wrap: wrap;

    li {
      border: 1px solid $gray-lighter;
      margin: 0 ($spacer * .25) ($spacer * .25)  0;
      padding: ($spacer * .15) ($spacer * .25);

      &:last-of-type {
        margin-bottom: ($spacer * .25) !important;
      }

      &:hover {
        background-color: $gray-lighter;
      }
    }

    code {
      display: inline-block;
      padding: 0 5px;
    }
  }
}

.-wrap.-icon-list ul li,
ul.-rows .-row {
  > code {
    vertical-align: middle;
  }

  svg,
  span.dashicons {
    color: #b4b9be;
    width: $spacer;
    height: $spacer;
    font-size: $spacer;
    vertical-align: text-top;
    transition: all 0.3s ease;
  }

  .-icon img {
    width: $spacer * .75;
    height: $spacer * .75;
    display: inline-block;
    vertical-align: middle;
    filter: opacity(25%);
    transition: all 0.3s ease;
  }

  &:hover {
    svg {
      fill: $gray-dark;
      transition: all 0.1s ease;
    }

    .-icon span.dashicons {
      color: $gray-dark;
      transition: all 0.1s ease;
    }

    .-icon img {
      filter: initial;
      transition: all 0.1s ease;
    }
  }

  a:focus {
    box-shadow: none;
  }

  .-is-valid,
  .-valid,
  .-text-success {
    color: $brand-success;

    &:hover {
      color: color.adjust($brand-success, $lightness: -20%);
    }
  }

  .-is-invalid,
  .-is-not-valid,
  .-not-valid,
  .-text-danger {
    color: $brand-danger;

    &:hover {
      color: color.adjust($brand-danger, $lightness: -20%);
    }
  }

  .-text-warning {
    color: $brand-warning;

    &:hover {
      color: color.adjust($brand-warning, $lightness: -20%);
    }
  }

  .-text-info {
    color: $brand-info;

    &:hover {
      color: color.adjust($brand-info, $lightness: -20%);
    }
  }
}
