////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Wrap ----------------------------------------------------

.wrap {
  div.-sidebox {

    box-sizing: border-box;
    width: 25%;
    float: right;
    color: #666;
    border-left: 1px solid #ccc;

    margin-top: 0.5em;
    padding: 0.5em 0 0.5em 1em;

    ol,
    ul {
      margin: 0;
    }

    p {
      margin-top: 0;

      &.submit {
        padding: 0;
        margin-bottom: .5em;

        > .dashicons {
          vertical-align: middle;
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      .button {
        margin-bottom: .5em;
      }
    }

    code {
      word-wrap: break-word;
    }

    table caption {
      text-align: inherit;
    }

    &.oldoptions {
      border-color: $brand-danger;
      clear: right;
    }
  }

  .-form {
    &.has-sidebox {
      .form-table {
        width: 75%;
        clear: none;
      }
    }

    .quicktags-toolbar {
      min-height: 30px;
      position: relative;

      input.button.button-small {
        font-size: 12px;
        height: 26px;
        line-height: 24px;
        margin: 0 2px 0 0;
      }
    }

    .quicktags-rtl {

      /*rtl:ignore*/
      direction: rtl;
    }
  }
}
