////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Table

////////////////////////////////////////////////////////////////////////////////
@use "sass:math"; // @REF: https://sass-lang.com/d/slash-div
@use "sass:color";

////////////////////////////////////////////////////////////////////////////////
$spacer: 1rem !default;

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
table.wp-list-table, // WordPress Core
table.base-table-list { // Plugin Core

  .column-title {

    // a.row-title {}
    // span.post-state {}

    // NOTE: if `style` attr with background-color used
    span.-custom-post-state {
      font-size: smaller;
      color: #3c434a;
      cursor: help;

      border: 1px solid $gray-lighter;
      padding: ($spacer * .15) ($spacer * .25);
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $gray-lighter !important;
        transition: background-color 0.1s ease;
      }
    }
  }

  .cell-wrap {
    &.-needs-refresh {
      font-size: 0.9em;
      color: #555;

      a {
        text-decoration: none;
        color: inherit;

        &:hover {
          text-decoration: underline;
          color: #222;
        }
      }
    }
  }

  td {
    > .-wrap.-icon-list {
      ul {
        margin: 0;
        display: flex;
        flex-wrap: wrap;

        li {
          margin: 0;
          // margin: 0 ($spacer * .125) ($spacer * .125) 0;
        }
      }

      span.-icon,
      a.-icon.-link {
        padding: $spacer * .25;
        display: inline-block;

        &:focus {
          box-shadow: none;
        }

        // svg {
        //   width: $spacer;
        //   height: $spacer;
        //   // fill: currentColor;
        //   fill: red !important;
        // }

        // &:hover {
        //   svg {
        //     fill: green !important;
        //   }
        // }

        // &.-valid-url {}
        // &.-invalid-url {}
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
table.wp-list-table { // WordPress Core
  .inline-edit-col {

    .input-text-wrap {
      .-description.-empty {
        margin: 0;
        padding-top: .5rem;
        font-size: smaller;
        color: #555;

        a {
          text-decoration: none;
          color: inherit;

          &:hover {
            text-decoration: underline;
            color: #222;
          }
        }
      }
    }
  }

  .inline-edit-row {
    h4 {
      margin: 0;
      line-height: 1.5;
    }

    fieldset {
      padding-right: 0 !important;

      label {
        textarea {
          width: 100%;
        }
      }
      span.title {
        font-style: normal !important;
        margin: 0 !important;
      }

      span.inline-edit-categories-label {
        line-height: 1.5 !important;
      }

      label span.title,
      &.inline-edit-date legend {
        width: $spacer * 8; // core default is `6em`
      }

      label span.input-text-wrap,
      .timestamp-wrap {
        margin-left: $spacer * 8; // core default is `6em`
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
div.base-table-wrap {
  &[dir="ltr"] {
    th {
      /*rtl:ignore*/
      text-align: left;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
table {
  &.base-table-simple,
  &.base-table-double,
  &.base-table-code,
  &.base-table-list,
  &.base-table-side,
  &.base-table-side-wrap {
    width: 100%;

    .sub-console & {
      width: auto;
    }
  }

  &.base-table-code,
  &.base-table-side,
  &.base-table-side-wrap {
    /*rtl:ignore*/
    direction: ltr;
  }
}

div.base-table-title {
  h3 {
    margin-bottom: 0.5em;
  }
}

div.base-table-empty {
  margin-top: 1em;
}

p.base-table-empty {
  margin: 0 !important;
}

////////////////////////////////////////////////////////////////////////////////
div.base-table-actions {
  &.base-table-list-before {
    margin-bottom: 4px;
  }

  &.base-table-list-after {
    margin-top: 4px;
  }

  div.base-table-navigation {

    // margin: 0 -1px;

    div.-controls {
      float: right;
    }

    // .-before,
    // .-after {}

    // input.-limit,
    // input.-paged {
    //   margin: 0 4px 0 0;
    //   @include body-rtl() {
    //     margin: 0 0 0 4px;
    //   }
    // }

    .button {
      padding: 0 10px 1px;
      margin: 1px 0;

      &.-icon {
        padding: 0 4px 0;
        line-height: 2;
      }

      .dashicons {
        top: 0;
        width: 20px;
        height: 20px;
        font-size: 20px;
        vertical-align: text-top;
      }
    }

    select {
      margin: 1px 0;
      height: 28px;
      line-height: 1;
      vertical-align: baseline;
      max-width: 200px;
    }

    label {
      line-height: 1;
      vertical-align: baseline;
    }

    input[type="text"],
    input[type="number"] {
      margin: 1px 0;
      height: 27px;
      vertical-align: baseline;
    }

    .-total-pages {
      line-height: 26px;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
table.base-table-list {

  // > .-before {}
  // > .-after {}

  thead {
    .check-column {
      width: 2.2em;
      vertical-align: middle !important;
    }

    .image-column {
      width: 70px;
    }

    .-column-slug {
      width: 28%;
    }
  }

  .-row-color-danger {
    background-color: color.adjust($brand-danger, $lightness: 20%) !important;
  }

  td,
  th {
    padding: 8px 10px;
  }

  td {
    vertical-align: top;

    img {
      display: inline-block;
      max-width: 100%;
      height: auto;
    }

    &.-has-list {
      ul,
      ol {
        margin: 0;
        padding: 0;
      }
    }

    &.-ltr,
    &.-has-list-ltr {
      /*rtl:ignore*/
      direction: ltr;
    }

    &.-has-table {
      padding: 4px 5px;

      td {
        font-size: smaller;
        padding: 0 2px;
        vertical-align: baseline;
      }

      code {
        font-size: smaller;
      }
    }

    &.-has-table-auto {
      table,
      code {
        direction: inherit;
      }
    }

    &.-has-table-ltr {
      table {
        /*rtl:ignore*/
        direction: ltr;
      }
    }
  }

  // .-cb-all {}
  // .-cb {}
  // .-column {}

  .-icon-column {
    padding: 8px 6px;

    svg,
    .dashicons {
      width: 20px;
      height: 20px;
      size: 20px;
    }
  }

  .-column-ID,
  .-column-id,
  .-column-post_id,
  .-column-term_id {
    width: 50px;
  }

  .-column-stock,
  .-column-count {
    width: 48px;
  }

  .-column-info {
    width: 34%;
  }

  .-column-date {
    width: 70px;
  }

  .-column-status,
  .-column-markdown,
  .-column-type {
    width: 65px; // 6%;
  }

  .-column-mime {
    width: 50px; // 185px;
  }

  .-column-debug {
    padding: 0;
  }

  .-column-info,
  .-column-content {
    > code {
      display: inline-block;
    }
  }

  // .-row {}
  // .-cell {}

  pre {
    margin: 0;
    padding: 0;
  }
}

////////////////////////////////////////////////////////////////////////////////
// table.base-table-simple {}

////////////////////////////////////////////////////////////////////////////////
table.base-table-double {
  tr td {
    width: 50%;
  }
}

////////////////////////////////////////////////////////////////////////////////
table.base-table-raw,
table.base-table-code {
  // > caption {}

  > tbody > tr > td {
    padding: 5px 2px;

    &.-var {
      // width: 185px;
    }

    &.-val {
      code {
        display: inline-block;
        word-break: break-all;
      }
    }

    select {
      margin: 0 1px;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
table.base-table-side {
  border: 1px solid #ccc;
  border-spacing: 0;

  // tr.-row {}

  td.-key {
    width: 10em;
    padding: 5px;
    vertical-align: top;
    text-align: right;

    // strong {}

    small {
      color: $gray-dark;
    }
  }

  td.-val {
    vertical-align: top;

    // &.-table {}

    &.-not-table {
      padding: 4px 2px;
    }

    // code {}
  }

  // .-empty {}
}

////////////////////////////////////////////////////////////////////////////////
table.base-table-side-wrap {
  border: 1px solid #ccc;
  border-width: 1px 1px 1px 0;
  border-spacing: 0;
  margin: 0.7em 0 1.5em;
  width: 100%;

  td {
    border: 1px solid #ccc;
    border-width: 1px 0 0 1px;
    padding: 6px 15px;
  }

  th {
    background-color: #f7f7f7;
    color: #555;
    border-left: 1px solid #ccc;
    font-weight: 700;
    padding: 6px 15px;
  }

  tr {
    border: 0;
    border-width: 0;
  }

  blockquote,
  ol,
  p,
  ul {
    margin-top: 0 !important;
    margin-bottom: 1.6em !important;
  }
}
