////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Tabs ----------------------------------------------------

div.base-tabs-list {
  width: 100%;

  .-wrapper {
    margin-bottom: 0.5em;

    .-nav {}
  }

  .-content {
    display: none;
    padding: 0.5em;
  }

  .-active {
    display: block;
  }
}
