////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: MetaBox -------------------------------------------------

.postbox {
  .hndle {
    .postbox-title-action {
      opacity: .4;
      // line-height: 1;
      transition: all 0.1s ease;
      float: right;

      a {
        text-decoration: none !important;
        color: $gray-light;
      }
    }

    .postbox-title-info {
      cursor: help;
      opacity: .6;
      transition: all 0.1s ease;
      color: $gray-light;

      > span {
        width: 16px;
        height: 16px;
        font-size: 16px;
      }
    }

    &:hover {
      .postbox-title-action,
      .postbox-title-info {
        opacity: 1;
        transition: all 0.3s ease;
        color: $gray-base;
      }
    }
  }

  &.closed {
    .postbox-title-action,
    .postbox-title-info {
      display: none;
    }
  }

  .inside {
    .notice {
      box-shadow: none;

      &.-full {
        margin: 0 0 15px;
        border-top: none;
        border-bottom: none;
        border-right: none;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .-wrap.-readonly > p {
      margin-left: 1em;
      margin-right: 1em;
    }

    .-description.-refresh {
      display: block;
      color: $gray-dark;
      font-size: smaller;

      &:hover {
        color: $brand-success;
      }

      &:focus {
        box-shadow: none;
      }
    }

    .-description.-empty {
      display: block;
      color: $gray-dark;

      &:hover {
        color: $gray-darker;
      }
    }

    .-core-styles {
      .-description.-refresh,
      .-description.-empty {
        padding: 0 12px 12px; // core defaults for .main
      }
    }
  }
}

#screen-options-wrap {
  fieldset.metabox-prefs {
    .postbox-title-action {
      display: none;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// METABOX CONTROLS -----------------------------------------------------------

// @REF: `#screen-options-link-wrap`, `#contextual-help-link-wrap`
.gnetwork-admin-metabox-controls {
  float: right;
  height: 28px;
  margin: 0 0 0 6px;
  border: 1px solid #ddd;
  border-top: none;
  background: #fff;
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);

  button::after {
    padding: 4px 2px 0 5px !important;
    vertical-align: top !important;
  }
}

#gnetwork-admin-metabox-collapse::after {
  content: "\f142" !important;
}

// #gnetwork-admin-metabox-expand::after {
//   // content: "\f142" !important;
// }
