////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Site Origin (Widgets & Page Builder) --------------------

.siteorigin-widget-form {
  .siteorigin-widget-field-repeater {

    .siteorigin-widget-field-expand,
    .siteorigin-widget-field-copy,
    .siteorigin-widget-field-remove {
      /*rtl:ignore*/
      right: auto !important;
    }

    .siteorigin-widget-field-expand {
      /*rtl:ignore*/
      left: 48px !important;
    }

    .siteorigin-widget-field-copy {
      /*rtl:ignore*/
      left: 28px !important;
    }

    .siteorigin-widget-field-remove {
      /*rtl:ignore*/
      left: 12px !important;
    }
  }
}
