////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Tabs ----------------------------------------------------

////////////////////////////////////////////////////////////////////////////////
div.base-tabs-list {
  width: 100%;

  .-wrapper {
    margin-bottom: 0.5em;

    .-nav {}
  }

  .-content {
    display: none;
    padding: 0.5em;

    > .card:first-of-type {
      margin-top: 0;
    }
  }

  .-active {
    display: block;
  }
}

////////////////////////////////////////////////////////////////////////////////
.-wrap.code {}
