////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Admin Widgets

////////////////////////////////////////////////////////////////////////////////
.-wrap.-admin-widgetform {
  @include mainwrap();
  margin-bottom: 2em;

  p {
    select {
      width: 100%;
    }

    + .-description {
      margin-top: -1em;
    }
  }

  > .-group {
    margin: 1em 0;

    p {
      margin: 0;
    }
  }
}
