////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Admin: RTL

////////////////////////////////////////////////////////////////////////////////
$spacer: 1rem !default;

////////////////////////////////////////////////////////////////////////////////
body.debug-bar-maximized #querylist,
body.options-permalink-php .form-table .sptp-fieldset, // Simple Post Type Permalinks
.fixed.users-network td.column-email,
.fixed.users-network td.column-blogs,
#beta_tester_dashboard_widget .inside, // WordPress Beta Testing
#poststuff #edit-slug-box,
#poststuff #trackbacksdiv .inside > ul,
#bp-groups-permalink-box,
#poststuff input#post_name,
div#wp-cron-pixie.postbox div.inside, // WP Cron Pixie
// #qm, /* Query Monitor */
.user-mobile-wrap input#mobile,
.user-twitter-wrap input#twitter,
.user-telegram-wrap input#telegram,
.user-facebook-wrap input#facebook,
#nav-menu-header input#menu-name,
.inline-edit-col input[name="slug"],
input[type="text"].widefat.link,
input#username_or_email_for_privacy_request,
input#adduser-email,
input#email,
input#slug,
input#tag-slug,
input#illegal_names,
input#first_comment_email,
input#first_comment_url,
input#upload_filetypes,
textarea#limited_email_domains,
textarea#banned_email_domains,
input#user_login {
  direction: ltr;
}

.debug-menu-target {
  direction: ltr !important;
}

#bp-groups-permalink {
  margin: 0;
}

////////////////////////////////////////////////////////////////////////////////
#gnetwork-restricted-restricted_feed_key {
  &::placeholder {
    direction: rtl;
    text-align: right;
  }
}

////////////////////////////////////////////////////////////////////////////////
.wrap .subtitle,
.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .page-title-action,
.wrap .page-title-action:active,
.drag-drop-inside p.drag-drop-info,
.mce-window .mce-window-head .mce-title,
.media-menu > a,
#dashboard_activity .no-activity p {
  // font-family: Arial, sans-serif;
  font-family: $font-family-head;
}

.drag-drop-inside p.drag-drop-info,
.wrap .subtitle,
#dashboard-widgets h4,
#dashboard-widgets h3,
#dashboard_quick_press .drafts h2,
#dashboard_activity .no-activity p {
  font-weight: 600;
}

.drag-drop-inside p.drag-drop-info,
.wrap > h2:first-child,
.wrap [class$="icon32"] + h2,
.postbox .inside h2,
.wrap h1 {
  font-size: 19px;
}

#qni-introduction,
.col-wrap h2,
.wrap .subtitle,
#dashboard-widgets h4,
#dashboard-widgets h3,
#dashboard_quick_press .drafts h2,
#poststuff h3.hndle,
#poststuff .stuffbox > h3,
#poststuff h2,
.metabox-holder .stuffbox > h3,
.metabox-holder .postbox > h3,
.metabox-holder h3.hndle,
.metabox-holder h2.hndle,
.widget-title h3,
.widget-title h4,
.nav-tab {
  font-size: 13px;
}

.wrap h1 {
  line-height: 1.85;
}

.media-menu > a,
.nav-tab {
  line-height: 16px;
}

#nav-menu-header .menu-name-label {
  font-style: normal;
}

input[type="checkbox"]:checked::before {
  margin: -2px -3px 0 0;
}

#poststuff {
  #sample-permalink {
    margin-right: 5px;
  }

  #editable-post-name input {
    margin: -3px 2px 0;
  }

  // added by p2p
  .tabs-panel {
    border-radius: 0;
  }
}

.timestamp-wrap {
  #jj,
  #aa,
  #hh,
  #mn {
    direction: ltr;
    text-align: center;
  }
}

//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
#poststuff h2,
#site-title,
.mce-window .mce-window-head .mce-title,
.media-frame.mode-grid .attachments-browser .no-media,
.metabox-holder h3,
.wrap h2 {
  // font: 700 16px arial, sans-serif !important;
}

// .widget-title h3,
// .widget-title h4 {
//   font-size: 1.28em;
//   padding: 15px 15px 12px;
// }

// #poststuff h2 {
//   padding: 10px 12px 5px;
// }

// .metabox-holder h3 {
//   padding: 12px 12px 7px;
// }

.bp-profile-field,
.form-table,
.form-table td p,
.form-table td,
.form-table th,
.form-wrap label {
  font-size: 12px;
}

.form-wrap p,
p.description,
p.help,
span.description {
  font-size: 11px;
  font-style: normal;
}

#screen-meta-links .show-settings::after {
  padding: 0 0 0 5px;
}

#post-lock-dialog .post-locked-message,
#post-lock-dialog .post-taken-over {
  margin: 20px;

  p:last-child {
    clear: both;
  }
}

.mce-menubtn.mce-fixed-width span {
  text-align: right;
}

.mce-container-body {
  .mce-resizehandle {
    right: auto !important;
    left: 0 !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    margin-right: 2px !important;

    i.mce-i-resize {
      transform: scale(-1, 1);
    }
  }
}

#dashboard-widgets {
  h4 {
    font-weight: 700 !important;
    font-size: 15px;
  }

  #dashboard_activity {
    .subsubsub a {
      padding: 0;
    }
  }

  // #latest-comments #the-comment-list {
  //   .comment-item {
  //     p.comment-meta {
  //       font-size: 0.95em;
  //       margin-bottom: 0.5em;

  //       span.approve::before {
  //         @include theme-transform-flip-horizontal;
  //         display: inline-block;
  //       }
  //     }

  //     .dashboard-comment-wrap {
  //       blockquote p {
  //         font-size: 0.85em;
  //         margin-bottom: 0.5em;
  //         display: block;
  //       }
  //     }

  //     p.row-actions {
  //       font-size: 0.85em;
  //     }
  //   }
  // }
}

// #dashboard_right_now {
//   .inside {
//     .table {
//       // <------- test this!! FIXME
//       .sub {
//         font: 600 15px/30px arial, sans-serif !important;
///
//         p.akismet-right-now {
//           direction: ltr;
//           font-size: 0.85em;
//         }
///
//         p:last-child {
//           margin-bottom: 0;
//         }
//       }
///
//       td a {
//         font: 600 15px/18px arial, sans-serif !important;
//       }
///
//       td.b a {
//         line-height: 8px !important;
//       }
//     }
//   }
// }

.media-frame {

  body.thrift-mode .media-modal-content & {
    select.attachment-filters {
      width: 90%; // NOTE: added more width to fill the hidden date select
      max-width: calc(90% - 12px);
    }
  }

  &.mode-grid {
    .wp-filter .search-form input[type="search"] {
      width: 230px;
    }
  }

  .attachment-details,
  .attachment-display-settings {
    > h2 {
      margin-top: $spacer * .5;
      margin-bottom: $spacer * .25;
    }

    span.setting {
      &:last-of-type {
        margin-bottom: 0;
      }

      &[data-setting="url"] input,
      input.link-to-custom {
        direction: ltr;
      }
    }
  }

  span.required-field-message,
  #alt-text-description {
    font-size: smaller;
  }
}

.imgedit-settings .imgedit-scale .nowrap,
.imgedit-settings .imgedit-crop-sel .nowrap,
.imgedit-settings .imgedit-crop-ratio .nowrap {
  direction: ltr;
  text-align: right;

  // span.imgedit-scale-warn,
  input[type="button"] {
    float: left;
  }
}

.imgedit-help p {
  font-style: normal;
  font-size: 0.89em;
}

body.edit-comments-php {
  .fixed {
    .column-response {
      width: 25%;
    }
  }
}

body.edit-php {
  .row-actions span,
  td.column-categories,
  td.column-date,
  td.column-gn_post_id,
  td.column-tags {
    font-size: 0.89em;
  }

  .post-com-count span {
    font-weight: 400;
  }

  #the-list td.column-title p {
    font-size: 0.78em;
  }
}

.misc-pub-section.misc-pub-dimensions > strong > span,
.misc-pub-section.misc-pub-codec > strong,
.misc-pub-section.misc-pub-filetype > strong {
  // FIXME: make a mixin!
  &::before {
    content: "\200f";
  }

  &::after {
    content: "\200e";
  }
}

.imgedit-group-top > p > span,
.misc-pub-section.misc-pub-filesize > strong,
.misc-pub-section.misc-pub-dimensions > strong > span {
  // FIXME: make a mixin!
  &::before {
    content: "\200e";
  }

  &::after {
    content: "\200f";
  }
}

input#adduser-email.ui-autocomplete-loading,
input[type="email"].ui-autocomplete-loading {
  background-position: 99% center !important;
}

// only on user new page
body.user-new-php {
  .ui-menu .ui-menu-item {
    direction: ltr;
    text-align: left;
  }
}

// shortcake
.add-shortcode-list
.shortcode-list-item {
  float: right;
}
