////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: List ----------------------------------------------------

ul {
  &.base-list-code,
  &.base-list-side {
    width: 100%;
  }
}

ul.base-list-code {
  margin: 1em 0 0;

  li {
    display: inline-block;
    margin-right: 4px;

    @include body-rtl() {
      margin-right: 0;
      margin-left: 4px;
    }
  }

  code {
    cursor: pointer;
  }

  // FIXME: make this genearl!
  .-info {
    color: $brand-info;
  }

  .-success {
    color: $brand-success;
  }

  .-warning {
    color: $brand-warning;
  }

  .-danger {
    color: $brand-danger;
  }
}
