////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: AdminBar Module: All

////////////////////////////////////////////////////////////////////////////////
@use "sass:color";

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
#wpadminbar {
  .shortlink-input {
    color: #000;
    font-weight: 400;
    width: 260px;
    padding: 4px 6px;
    box-shadow: none;
    border: none;

    /*rtl:ignore*/
    direction: ltr;
  }

  .quicklinks > ul > li > a {
    padding: 0 7px 0 5px;
  }

  .quicklinks li .blavatar {
    &::before {
      content: "\f319" !important; // globe
    }

    &.-site::before {
      content: "\f541" !important;
    }

    &.-network::before {
      content: "\f111" !important;
    }

    &.-user::before {
      content: "\f110" !important;
    }

    &.-update::before {
      content: "\f325" !important;
    }
  }

  #wp-admin-bar-gnetwork-cron-status {
    max-width: 210px; // default min-width;

    border-bottom: 1px solid color.adjust(#464b50, $lightness: 10%);
    padding-bottom: 6px; // ul padding

    a.ab-item {
      height: auto;
      white-space: normal;
      line-height: 1.6;
      font-size: smaller;
    }
  }
}
