////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Admin Buttons

////////////////////////////////////////////////////////////////////////////////
.-wrap {

  // @REF: https://make.wordpress.org/core/2019/12/10/alternate-color-schemes-changes-in-wordpress-5-3-1/
  .-button:not(.button) {
    border-color: #7e8993;
    color: #32373c;

    &:hover {
      border-color: darken(#7e8993, 5%);
      color: darken(#32373c, 5%);
    }

    &:focus {
      border-color: #7e8993;
      color: darken(#32373c, 5%);
      box-shadow: 0 0 0 1px #32373c;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
