////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Quick Navigation Interface ------------------------------

#qni-introduction {
  margin-top: 0;
}

#qni-dialog {
  .media-modal-close {
    width: 32px;
    height: 32px;
    text-decoration: none;
    text-align: center;
  }
}
