////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Editor --------------------------------------------------

.gnetwork-tinymce-icon {

  &:before {
    font-family: "dashicons";
    content: "\f159"; // DEFAULT
  }

  &.icon-gnetworkref:before {
    content: "\f473";
  }

  &.icon-gnetworkgpeople:before {
    content: "\f307";
  }

  &.icon-gnetworkemail:before {
    content: "\f466";
  }

  &.icon-gnetworksearch:before {
    content: "\f179";
  }

  &.icon-gnetworkasterisks:before {
    content: "\f155";
  }

  &.icon-gnetworkquote:before {
    content: "\f122";
  }
}

body.rtl {
  .mce-tooltip-inner {
    direction: rtl;
  }

  .mce-window .mce-window-head .mce-title {
    padding-top: 12px;
  }

  .mce-window-body .mce-container.mce-rtl * {
    direction: rtl;
    text-align: right;
  }

  .mce-charmap,
  .mce-charmap * {
    direction: ltr !important;
  }

  .mce-charmap td div {
    text-align: center !important;
  }
}
