////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Form ----------------------------------------------------

.wrap {

	input[type="text"] {
		vertical-align: middle;
	}

	input.small-text {
		padding: 5px 5px 4px;
	}

	input.medium-text {
		width: 12em;
	}
}
