////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: P2P -----------------------------------------------------

.p2p-box {

  .p2p-toggle-tabs {
    margin-bottom: 0;

    a {
      text-decoration: none;
    }

    a:focus {
      box-shadow: none;
    }
  }

  .p2p-create-connections-tabs {
    margin-top: 1em;

    .wp-tab-bar {
      margin-bottom: 6px;
    }
  }

  td.p2p-col-create .p2p-icon {
    padding-top: 3px !important;
    body.rtl & {
      /*rtl:begin:ignore*/
      float: right;
      margin: 0 0 0 6px;
      /*rtl:end:ignore*/
    }
  }

  .p2p-search input {
    width: 100%;
    body.rtl & {
      /*rtl:ignore*/
      padding-right: 5px;
    }
  }

  .p2p-connections {
    th {
      body.rtl & {
        /*rtl:ignore*/
        text-align: right;
      }
    }
  }
}
