////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: AdminBar: RTL

// NOTE: `/*rtl:begin:ignore*/` not working!
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
#wpadminbar {
  body.rtl & {
    * {
      // @include theme-fonts-core-native;
      font-family: $font-family-base; // TODO: must use css vars
    }

    span.dashicons,
    .ab-item::before,
    .ab-icon {
      /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
      font-family: dashicons !important; // must force this!
    }

    .menupop .menupop > .ab-item {
      .wp-admin-bar-arrow::before {
        /*rtl:ignore*/
        left: 8px;
        content: "\f141" / '';
      }
    }

    .ab-top-secondary {
      .menupop .menupop > .ab-item {
        .wp-admin-bar-arrow::before {
          /*rtl:ignore*/
          right: 8px;
          content: "\f139" / '';
        }
      }
    }
  }
}
