////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: WooCommerce

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.panel-wrap.woocommerce {
  div#order_data {
    padding-bottom: 0;

    div.order_data_column {
      // margin-bottom: $spacer * .5;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
#woocommerce-order-notes {
  div.add_note {
    padding-top: $spacer * .5;
    gap: $spacer;

    .order_note_visibility {
      margin-top: $spacer * -1;
    }
  }

  ul.order_notes {
    > li:last-of-type {
      margin-bottom: -6px;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
