////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: AdminBar: Airplane Mode Plugin

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
#wp-admin-bar-airplane-mode-toggle {
  .ab-icon { // may or not with `.dashicons`
    padding: 0 !important;
    margin: 4px -1px 0 0 !important;
  }
}
