////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Blocks: All

////////////////////////////////////////////////////////////////////////////////
.gnetwork-block-align-left {
  text-align: left;
}

.gnetwork-block-align-center {
  text-align: center;
}

.gnetwork-block-align-right {
  text-align: right;
}

////////////////////////////////////////////////////////////////////////////////
