////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: AdminBar: BuddyPress Plugin

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
#wp-admin-bar-bp-notifications {
  > a.ab-item {
    margin-top: -1px !important;
    // span.count {}
  }
}
