////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: BuddyPress: Front All ----------------------------------------------

.gnetwork-wrap-tos {

	// we need current theme styles!
	// @include mainwrap();
	// @include box-reset();

	.-title {}

	.-text {
		width: 95% !important;
		height: 220px !important;
	}

	.-checkbox {
		vertical-align: middle !important;
	}
}
