////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Code ---------------------------------------------------------------

.gnetwork-wrap-shortcode {

	&.github {

	}

	&.github-readme {
		> h1 {
			display: none;
		}

		img[src*="badge"],
		img[src*="shields.io"] {
			display: inline;
		}
	}

	&.github-gist {
		direction: ltr !important;

		td {
			text-align: left;
		}
	}

	&.github-repo {
		direction: ltr !important;
	}
}
