////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partals: Module: Code Front All -----------------------------------

.-wrap {
  &.shortcode-github {

    /*rtl:ignore*/
    direction: ltr;
  }

  &.shortcode-github-readme {
    > h1 {
      display: none;
    }

    img[src*="badge"],
    img[src*="shields.io"] {
      display: inline-block;
      border-radius: 0;
    }
  }

  &.shortcode-github-gist {

    /*rtl:ignore*/
    direction: ltr !important;

    td {
      text-align: left;
    }
  }

  &.shortcode-textarea {
    > textarea {
      direction: ltr;
      width: 100%;
      height: auto;
    }
  }

  &.shortcode-shields-io {
    a {
      img {}
    }
  }
}
