////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Commerce: Front All

////////////////////////////////////////////////////////////////////////////////
.-wrap.gnetwork-wrap.shetab-card {
  .shetab-card-number {}
}

////////////////////////////////////////////////////////////////////////////////
span.gtin_wrapper {
  span.gtin {}
}

////////////////////////////////////////////////////////////////////////////////
.woocommerce-input-wrapper {
  input.input-text.ltr {
    /*rtl:ignore*/
    direction: ltr;
  }

  input.input-text.rtl-placeholder {
    &::-webkit-input-placeholder {
      direction: ltr; // will swith for rtl
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
#add_payment_method,
.woocommerce-cart,
.woocommerce-checkout {
  #payment ul.payment_methods li img {
    max-height: 1.618em; // storefront default
    width: auto;
  }
}
