////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: bbPress: Core

////////////////////////////////////////////////////////////////////////////////
#bbpress-forums {
  #bbp-user-wrapper h2.entry-title {
    /*rtl:ignore*/
    direction: ltr;
  }

  #bbp-user-body,
  div.bbp-forum-content,
  div.bbp-topic-content,
  div.bbp-reply-content {
    margin-right: 0;
  }

  img.avatar {
    margin-left: 0;
  }
}
