////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Customize: RTL

////////////////////////////////////////////////////////////////////////////////
$spacer: 1rem !default;

////////////////////////////////////////////////////////////////////////////////
#customize-controls {
  .customize-info {
    .accordion-section-title {
      padding-bottom: $spacer * .25;
    }
  }
}

#customize-controls .customize-pane-child .customize-section-title h3,
#customize-controls .customize-pane-child h3.customize-section-title,
#customize-outer-theme-controls .customize-pane-child .customize-section-title h3,
#customize-outer-theme-controls .customize-pane-child h3.customize-section-title,
#customize-controls .customize-info .panel-title {
  font-weight: 700;
}

.theme-overlay .theme-header .left::before,
.customize-panel-back::before,
.customize-section-back::before {
  content: "\f345" / '';
}

.theme-overlay .theme-header .right::before,
#customize-theme-controls .accordion-section-title::after,
#customize-outer-theme-controls .accordion-section-title::after {
  content: "\f341" / '';
}

.control-panel-themes .theme-section .customize-themes-section-title.selected::after {
  padding: 2px 2px 1px 0;
}

.themes-filter-bar .feature-filter-toggle::before {
  line-height: 1.2;
}

#available-menu-items-search .search-icon::after,
#available-widgets-filter .search-icon::after,
.themes-filter-bar .search-icon::after {
  line-height: 1.5;
}

.customize-control-radio input,
.customize-control-checkbox input,
.customize-control-nav_menu_auto_add input {
  margin-top: 2px;
}
