////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Dashboard Module: Admin ---------------------------------

////////////////////////////////////////////////////////////////////////////////
#gnetwork-dashboard-right-now .inside {
  padding: 0;
}

#network_dashboard_right_now .inside {
  form:last-of-type {
    margin-bottom: -1em;
  }

  .subsubsub {
    margin: 0;
  }
}

////////////////////////////////////////////////////////////////////////////////
.postbox {
  .inside {
    ul.-pointers {
      margin-bottom: -5px !important;

      li {
        font-size: smaller; // 0.85em;
        margin-bottom: 5px !important;
      }

      + .-wrap {
        margin-top: .5em;
      }
    }

    li {
      a.notice::before {
        color: $brand-info !important;
      }

      a.warning::before {
        color: $brand-warning !important;
      }

      a.danger::before {
        color: $brand-danger !important;
      }

      .-flush-rules::before {
        color: $brand-danger !important;
        content: "\f225" !important;
      }

      .-maintenance::before {
        color: $brand-danger !important;
        content: "\f534" !important;
      }

      .-restricted::before {
        color: $brand-warning !important;
        content: "\f160" !important;
      }

      .-corn-ready::before {
        color: $brand-warning !important;
        content: "\f321" !important;
      }

      .-corn-done::before {
        content: "\f321" !important;
      }

      .-corn-missing::before {
        color: $brand-warning !important;
        content: "\f153" !important;
      }

      a.-privacy::before {
        color: $brand-info !important;
        content: "\f530" !important;
      }

      a.-storage::before {
        content: "\f104" !important;
      }

      a.-log-size::before {
        content: "\f13a" !important;
      }

      a[data-module="sms"]::before {
        content: "\f473" !important;
      }

      a[data-module="bot"]::before {
        content: "\f470" !important;
      }

      a[data-module="remote"]::before {
        content: "\f504" !important;
      }
    }

    // .-privacy-notice {
    //   margin-bottom: 1em !important;
    //   font-size: smaller;
    //
    //   a {
    //     color: $gray-dark;
    //
    //     &:hover {
    //       color: $gray-darker;
    //     }
    //   }
    // }
  }
}

////////////////////////////////////////////////////////////////////////////////
.gnetwork-admin-wrap-widget {
  &.-usermenu {
    ul {
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 0.5em;

        ul {
          margin: 0.5em 0 0 1em;
        }

        &:last-of-type {
          margin: 0;
        }
      }
    }
  }

  .-table-logins,
  .-table-signup {
    .-month-day,
    .-time-ago,
    .-time-full {
      cursor: pointer;
    }

    // .-edit-link {}

    .-mail-link,
    .-ip-info {
      /*rtl:begin:ignore*/
      direction: ltr;
      text-align: left;
      /*rtl:end:ignore*/
    }

    .-month-day {
      width: 15px;
    }

    .-time-ago {
      width: 65px;
    }
  }

  .-table-summary {
    margin-top: .5em;
    width: 100%;

    td {
      width: 50%;
      padding: 0 0 2px;
      font-size: 0.89em;
      color: #666;
    }
  }

  .-list-signup {
    margin-left: 0.5em;
    margin-bottom: 0;
  }
}
