////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Dashboard Module: Admin ---------------------------------

#gnetwork-dashboard-right-now {
  .inside {
    padding: 0;
  }
}

#gnetwork-dashboard-usermenu {
  ul {
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 0.5em;

      ul {
        margin: 0.5em 0 0 1em;
      }

      &:last-of-type {
        margin: 0;
      }
    }
  }
}
