////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Debug --------------------------------------------------------------

.gnetwork-admin-wrap.debugbar-panel {
  /*rtl:ignore*/
  direction: ltr !important;

  .-title {
    margin: 5px 0 3px !important;
  }

  .-post,
  .-meta {
    margin-bottom: 1em;

    > table {
      margin-top: 0 !important;
    }
  }

  .-post + .-meta {
    margin-top: -1em;
  }

  .-group {
    pre {
      margin: 0 !important;
    }
  }
}

.gnetwork-admin-wrap.debug-update-core {}
