////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Debug ---------------------------------------------------------------

.gnetwork-admin-wrap.debugbar-panel {

  @include mainwrap();

  direction: ltr !important;

  .-title {
    margin: 5px 0 3px 0 !important;
  }

  .-post {
    margin-bottom: 1em;
  }

  .-group {
    pre {
      margin: 0 !important;
    }
  }

  .-empty {}
}

.gnetwork-admin-wrap.debug-update-core {
  // margin-top: 2em;

  a.button {

  }
}

// Query Monitor
html[dir="rtl"] #qm {
  direction: ltr !important;

  .qm td,
  .qm th {
    text-align: left !important
  }
}
