////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Embed: Aparat -------------------------------------------

.gnetwork-wrap-embed.-aparat {
  > iframe {
    display: block;
    margin: 0 auto;
  }

  .-item {
    // clear: both;
    margin-bottom: 2em;

    @include clearfix();
  }

  .-preview {

    max-width: 40%;
    height: auto;

    float: left;
    margin-right: 5%;

    iframe {
      max-width: 100%;
      height: auto;
    }
  }

  .-title {
    margin-top: 0;
  }

  .-date {
    display: block;
    margin: -0.5em 0 0.5em;
    font-size: 0.8em;
    color: $gray;
  }

  .-description {
    overflow: hidden;
  }
}
