////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: fa_IR Login: ALL

// html:lang(fa-ir) {}

////////////////////////////////////////////////////////////////////////////////
body.locale-fa-ir {
  &,
  // #wpadminbar *,
  .admin-email__heading {
    // @include theme-fonts-core-native;
    font-family: $font-family-base;
  }

  ol {
    list-style-type: persian !important;

    &.wc-progress-steps {
      list-style-type: none !important;
    }
  }
}
