////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Front ALL -----------------------------------------------

.gnetwork-wrap-iframe {
  @include theme-responsive-iframe;
}
// user switching plugin
#user_switching_switch_on {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px 10px;
  margin: 0;
  background-color: #000;
  color: $brand-warning;
}
// bruteprotect plugin
// #bruteprotect_uptime_check_string {
//   display: none !important;
// }

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Text meant only for screen readers
// @REF: https://github.com/wpaccessibility/a11ythemepatterns/
// @REF: https://core.trac.wordpress.org/ticket/40970
// hide visually but not from screen readers
.screen-reader-text,
.screen-reader-text span,
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
