////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: GlotPress: After


////////////////////////////////////////////////////////////////////////////////
td.original,
select#format,
select#export-format {
  /*rtl:ignore*/
  direction: ltr;
}

table.translations.translation-sets-rtl .foreign-text {
  /*rtl:ignore*/
  direction: rtl;
}

.editor .textareas textarea {
  width: 100%;
}

////////////////////////////////////////////////////////////////////////////////
.gp-content {
  max-width: 70em;
  margin: 0 auto;
}

.editor .meta {
  width: 37%;
}

////////////////////////////////////////////////////////////////////////////////
dd {
  margin-bottom: 1em;
}
