////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: List Table ALL ------------------------------------------

////////////////////////////////////////////////////////////////////////////////
table.widefat {
  .column-gnetwork-network-id {
    width: 4%;
    text-align: right;
  }

  .column-gnetwork-network-ssl {
    width: 25px;

    span[data-icon] {
      cursor: help;
    }
  }

  &.users-network {
    td.timestamps {
      table td {
        padding: 0 0 2px !important;

        code {
          cursor: pointer;
          display: inline !important;
        }
      }
    }

    td.column-blogs {
      span.edit,
      span.view {
        font-size: smaller;
      }
    }

    th.column-email {
      width: 14%;
    }

    th.column-timestamps {
      width: 200px;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// after taxoomy list tables
div.col-wrap form#posts-filter + p.description {
  margin-top: 1em;
}
