////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Login: Default ------------------------------------------

body.login.logindefault {

  form {
    border-radius: 2px;
    box-shadow: none;

    input[type="password"],
    input[type="text"] {
      margin-top: 10px;
    }

    p {
      text-align: center;

      &.description {
        text-align: left;
      }
    }
  }

  a:focus {
    box-shadow: none;
  }
}
