////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Login: Default ------------------------------------------

body.login.logindefault {
  a:focus {
    box-shadow: none;
  }

  #login {
    form {
      border-radius: 2px;
      box-shadow: none;
    }
  }

  label[for="user_login"],
  label[for="user_pass"] {
    margin-bottom: 0.5rem;
  }

  p,
  .user-pass-wrap,
  .admin-email__heading,
  .admin-email__actions {
    text-align: center;
  }

  p.description {
    text-align: left;
  }
}
