////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Login: Mobile

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
body.login {
  form.-mobile-register {
    @include theme-gutter-reset;
    box-shadow: none;
  }

  p.description.-mobile-register {
    text-align: center !important;
    margin-top: 1.25rem !important;
  }

  p.submit.-mobile-register {
    margin-top: .25rem !important;
    margin-bottom: 1.25rem !important;

    a.-button {
      text-align: center !important;
      width: 100%;
    }
  }

  a.-button.-mobile-verification {
    text-align: center !important;
    width: 100%;
  }
}
