////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Login: DarkStories -----------------------------------------

////////////////////////////////////////////////////////////////////////////////
body.login.darkstories {
  background: #252525;
  color: #e8e8e8;

  a:focus {
    box-shadow: none;
  }

  #login {
    width: 360px;
    padding-top: 4%;

    form {
      background: #353535;
      border-color: #434343;
    }
  }

  #login form,
  &.wp-core-ui .button:not(.wp-hide-pw),
  &.wp-core-ui .button-primary,
  &.wp-core-ui .button-secondary:not(.wp-hide-pw),
  input[type="checkbox"],
  input[type="radio"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="text"] {
    border-radius: 2px;
  }

  label[for="user_login"],
  label[for="user_pass"] {
    margin-bottom: 0.5rem;
  }

  input[type="number"],
  input[type="text"],
  form .input {
    color: inherit;
    background: transparent;
    border: 1px solid #434343;
    border-radius: 2px;
  }

  p,
  .user-pass-wrap,
  .admin-email__heading,
  .admin-email__actions {
    text-align: center;
  }

  #login .message,
  #login_error,
  p.description {
    text-align: left;
  }

  .message,
  .success,
  #login_error {
    background: #353535;
    color: inherit;
  }
}
