////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Cron Module: Admin --------------------------------------

////////////////////////////////////////////////////////////////////////////////
.gnetwork-admin-wrap.sub-emaillogs {
  .-cell-info {
    .-header {
      // /*rtl:ignore*/
      // direction: ltr;
      // display: inline-block;
    }

    // > .-wrap.-info {}
  }
}

////////////////////////////////////////////////////////////////////////////////
.-wrap.-smtp-debug {
  /*rtl:ignore*/
  direction: ltr;
  padding: .25rem .5rem;
  background-color: #fff;
  border: 1px solid #ccc;
}
