////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Media Module --------------------------------------------

table.media {
  a.media-url-attachment {
    outline: 0 none;
  }

  div.media-url-box {
    margin: 10px 0;
  }

  input.media-url-field {
    direction: ltr;
  }
}
