////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: MediaElement.js: RTL

////////////////////////////////////////////////////////////////////////////////
html .mce-content-body,
body.wp-admin {
  .mejs-container {
    direction: ltr;
  }
}
