////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Navigation Module ---------------------------------------

.gnetwork-admin-wrap-metabox.-navigation {

  margin-top: -10px;

  > h4 {
    margin: 0 0 0.5em;
  }

  .tabs-panel {
    margin-bottom: 1em;
  }
}
