////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: RTL ALL -------------------------------------------------

/*rtl:begin:ignore*/

body.rtl {
  .wrap .add-new-h2,
  .wrap .add-new-h2:active,
  .wrap .page-title-action,
  .wrap .page-title-action:active,
  .mce-window .mce-window-head .mce-title,
  #dashboard_activity .no-activity p {
    font-family: Arial, sans-serif;
  }

  #dashboard-widgets h4,
  #dashboard-widgets h3,
  #dashboard_quick_press .drafts h2,
  #dashboard_activity .no-activity p {
    font-weight: 600;
  }

  .wrap > h2:first-child,
  .wrap [class$="icon32"] + h2,
  .postbox .inside h2,
  .wrap h1 {
    font-size: 19px;
  }

  #qni-introduction,
  .col-wrap h2,
  #dashboard-widgets h4,
  #dashboard-widgets h3,
  #dashboard_quick_press .drafts h2,
  #poststuff h3.hndle,
  #poststuff .stuffbox > h3,
  #poststuff h2,
  .metabox-holder .stuffbox > h3,
  .metabox-holder .postbox > h3,
  .metabox-holder h3.hndle,
  .metabox-holder h2.hndle,
  .widget-title h3,
  .widget-title h4,
  .nav-tab {
    font-size: 13px;
  }

  .nav-tab {
    line-height: 16px;
  }

  #nav-menu-header .menu-name-label {
    font-style: normal;
  }

  input[type="checkbox"]:checked::before {
    margin: -2px -3px 0 0;
  }

  #poststuff {
    #edit-slug-box {
      direction: ltr;
    }

    #sample-permalink {
      margin-right: 5px;
    }

    #editable-post-name input {
      margin: -3px 2px 0;
    }

    input#post_name {
      direction: ltr;
    }

    // added by p2p
    .tabs-panel {
      border-radius: 0;
    }
  }

  .timestamp-wrap {
    #jj,
    #aa,
    #hh,
    #mn {
      direction: ltr;
      text-align: center;
    }
  }

  //////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////

  // .wrap h1 {
  //   font: bold 24px arial, sans-serif !important;
  //   .page-title-action {
  //     font: 700 14.5px arial, sans-serif !important;
  //     padding: 5px 8px 3px;
  //   }
  // }

  #poststuff h2,
  #site-title,
  .mce-window .mce-window-head .mce-title,
  .media-frame.mode-grid .attachments-browser .no-media,
  .metabox-holder h3,
  .wrap h2 {
    // font: 700 16px arial, sans-serif !important;
  }

  .widget-title h3,
  .widget-title h4 {
    // font-size: 1.28em;
    // padding: 15px 15px 12px;
  }

  .wrap .subtitle {
    font-size: 15px;
    font-weight: 700;
    vertical-align: middle;
  }

  // #poststuff h2 {
  //   padding: 10px 12px 5px;
  // }

  // .metabox-holder h3 {
  //   padding: 12px 12px 7px;
  // }

  .bp-profile-field,
  .form-table,
  .form-table td,
  .form-table td p,
  .form-table th,
  .form-wrap label {
    font-size: 12px;
  }

  .form-wrap p,
  p.description,
  p.help,
  span.description {
    font-size: 11px;
    font-style: normal;
  }

  &.debug-bar-maximized {
    #querylist {
      direction: ltr;
    }
  }

  .debug-menu-target {
    direction: ltr !important;
  }

  #screen-meta-links .show-settings:after {
    padding: 0 0 0 5px;
  }

  .form-table.permalink-structure {
    #permalink_structure {
      float: right;
      margin: -4px 1px 0 0;
      padding: 3px 5px 2px 1px;
      border-left: none;
    }

    .available-structure-tags {
      clear: both;
      margin-top: 1em;
    }
  }

  #post-lock-dialog .post-locked-message,
  #post-lock-dialog .post-taken-over {
    margin: 20px;

    p:last-child {
      clear: both;
    }
  }

  .mce-menubtn.mce-fixed-width span {
    text-align: right;
  }

  #dashboard-widgets {
    h4 {
      font-weight: 700 !important;
      font-size: 15px;
    }

    #dashboard_activity {
      .subsubsub a {
        padding: 0;
      }
    }

    #latest-comments #the-comment-list {
      .comment-item {
        p.comment-meta {
          font-size: 0.95em;
          margin-bottom: 0.5em;

          span.approve::before {
            @include theme-transform-flip-horizontal;
            display: inline-block;
          }
        }

        .dashboard-comment-wrap {
          blockquote p {
            font-size: 0.85em;
            margin-bottom: 0.5em;
            display: block;
          }
        }

        p.row-actions {
          font-size: 0.85em;
        }
      }
    }
  }

  #dashboard_right_now {
    .inside {
      .table {
        // <------- test this!! FIXME
        .sub {
          font: 600 15px/30px arial, sans-serif !important;

          p.akismet-right-now {
            direction: ltr;
            font-size: 0.85em;
          }

          p:last-child {
            margin-bottom: 0;
          }
        }

        td a {
          font: 600 15px/18px arial, sans-serif !important;
        }

        td.b a {
          line-height: 8px !important;
        }
      }
    }

    li.storage-count {
      font-size: 0.85em;
      margin-bottom: 0;
    }
  }

  // #dashboard_activity {}

  // Google Analytics Dashboard
  #gadash-widget {
    #ga-dash {
      direction: ltr;
    }
  }

  .media-frame {
    .attachment-details > h3,
    .attachment-display-settings > h3,
    .media-types.media-types-required-info {
      display: none;
    }

    .attachment-info {
      margin-top: 10px;
      margin-bottom: 5px;
      padding-bottom: 5px;
    }

    .attachment-display-settings,
    .compat-item {
      float: none;
    }

    .embed-url .spinner {
      left: 26px;
    }

    .setting {
      &[data-setting="url"] input,
      input.link-to-custom {
        direction: ltr;
      }
    }
  }

  .media-menu > a {
    padding: 8px 5px 8px 15px;
  }

  .imgedit-settings .imgedit-scale .nowrap,
  .imgedit-settings .imgedit-crop-sel .nowrap,
  .imgedit-settings .imgedit-crop-ratio .nowrap {
    direction: ltr;
    text-align: right;

    // span.imgedit-scale-warn,
    input[type="button"] {
      float: left;
    }
  }

  .imgedit-help p {
    font-style: normal;
    font-size: 0.89em;
  }

  .edit-attachment-frame {
    .edit-media-header {
      .left {
        left: 51px;
      }

      .right {
        left: 102px;
      }
    }
  }

  &.edit-comments-php {
    .fixed {
      .column-response {
        width: 25%;
      }
    }
  }

  &.edit-php {
    .row-actions span,
    td.column-categories,
    td.column-date,
    td.column-gn_post_id,
    td.column-tags {
      font-size: 0.89em;
    }

    .post-com-count span {
      font-weight: 400;
    }

    #the-list td.column-title p {
      font-size: 0.78em;
    }
  }

  .misc-pub-section.misc-pub-dimensions > strong > span,
  .misc-pub-section.misc-pub-codec > strong,
  .misc-pub-section.misc-pub-filetype > strong {
    // FIXME: make a mixin!
    &::before {
      content: "\200f";
    }

    &::after {
      content: "\200e";
    }
  }

  .imgedit-group-top > p > span,
  .misc-pub-section.misc-pub-filesize > strong,
  .misc-pub-section.misc-pub-dimensions > strong > span {
    // FIXME: make a mixin!
    &::before {
      content: "\200e";
    }

    &::after {
      content: "\200f";
    }
  }

  #qm, // Query Monitor
  .user-mobile-wrap input#mobile,
  .user-twitter-wrap input#twitter,
  .user-facebook-wrap input#facebook,
  .user-googleplus-wrap input#googleplus,
  #nav-menu-header input#menu-name,
  .inline-edit-col input[name="slug"],
  input#adduser-email,
  input#email,
  input#slug,
  input#tag-slug,
  input#user_login {
    direction: ltr;
  }

  html[dir="rtl"] & {
    .qm td,
    .qm th {
      text-align: left !important;
    }
  }

  input#adduser-email.ui-autocomplete-loading,
  input[type="email"].ui-autocomplete-loading {
    background-position: 99% center !important;
  }

  // only on user new page
  &.user-new-php {
    .ui-menu .ui-menu-item {
      direction: ltr;
      text-align: left;
    }
  }

  // shortcake
  .add-shortcode-list
  .shortcode-list-item {
    float: right;
  }
}

/*rtl:end:ignore*/
