
.gnetwork-admin-settings-wrap {
	@include mainwrap();

	&.settings-network {

	}

	&.settings-admin {

	}

	.quicktags-toolbar {
		position: relative;
		min-height: 30px;

		input.button.button-small {
			font-size: 12px;
			height: 26px;
			line-height: 24px;
			margin: 0 2px 0 0;

			@include body-rtl() {
				margin: 0 0 0 2px;
			}
		}
	}

	.gnetwork-form {

		.form-table {

			.field-after {
				vertical-align: middle;
			}
		}

		// FIXME: must check the html
		.button.button-small { vertical-align: middle; }
		.button.button-icon { padding: 1px !important; }
		input.big-text { width: 56em; }
		tr td { vertical-align: top; }
		tr th .side-buttons {
			// margin-top: 0.8em;
			line-height: 1em;
			text-align: right;
		}
		tr th .side-buttons .button { display: block; }
		textarea { outline: none; }
		@include body-rtl() {
			tr th .side-buttons {
				text-align: left;
			}
		}

		&.has-sidebox {
			.form-table {
				width: 75%;
				clear: none;
			}
		}

		.settings-sidebox {
			@include mainwrap();

			width: 25%;
			float: right;

			color: #666;
			border-left: 1px solid #ccc;
			padding: 5px 0px 5px 15px;

			@include body-rtl() {
				float: left;
				border-left: none;
				border-right: 1px solid #ccc;
				padding: 5px 15px 5px 0px;

				&.oldoptions {
					border-color: red;
					clear: left;
				}
			}

			ul, ol {
				margin: 0;
			}

			p {
				margin-top: 0;

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			code {
				word-wrap: break-word;
			}

			&.oldoptions {
				border-color: red;
				clear: right;
			}
		}
	}
}
