////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Settings Admin ALL --------------------------------------

.wrap.gnetwork-settings {
  &.sub-overview {}
}

.gnetwork-admin-wrap.gnetwork-settings {
  // @include mainwrap();
  // padding-right: 20px;

  .-wrap.-danger,
  .-button.button-reset,
  .-button.button-danger {
    color: $brand-danger;

    &:hover {
      color: darken($brand-danger, 20%);
    }
  }

  h3.error-box-header {
    margin-bottom: 0.5em;
  }

  p.error-box-footer {
    margin-top: 0.2em;
  }

  .error-box {

    /*rtl:ignore*/
    direction: ltr;

    height: 100%;
    // overflow: scroll;
    padding: 2px;
    background-color: #faf9f7;
    border: 1px solid #ccc;

    ol {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        padding: 2px 4px 6px;
        border-bottom: 1px solid #ececec;

        &:last-of-type {
          border: none;
          padding-bottom: 0;
        }

        &.more {
          padding: 2px;
          // border-top: 2px solid #ccc;
          // border-bottom: none;
        }

        b {
          span {
            cursor: pointer;
          }
        }

        pre {
          display: inline;
          margin: 0;
        }
      }
    }
  }

  .-empty.-phpinfo {
    padding: 1em;
  }

  .gnetwork-form {
    .form-table {
      .-field-after {
        vertical-align: middle;

        // &.-text-wrap {}
        // &.-link-wrap {}

        &.-constant-wrap {
          cursor: pointer;
        }

        &.-icon-wrap {
          a {
            color: $gray-light;
            display: inline-block;
            line-height: 22px;
            text-decoration: none;

            &:hover {
              color: #0073aa;
            }

            &:focus {
              outline: none;
              box-shadow: none;
            }
          }

          .dashicons {
            width: 22px;
            height: 22px;
            font-size: 22px;
            vertical-align: text-top;
          }
        }
      }
    }

    .base-table-wrap {
      margin-right: 10px;
    }

    // FIXME: must check the html
    .button.button-small {
      vertical-align: middle;
    }

    .button.button-icon {
      padding: 1px !important;
    }

    input.big-text {
      width: 56em;
    }

    tr td {
      vertical-align: top;
    }

    tr th .side-buttons {
      // margin-top: 0.8em;
      line-height: 1;
      text-align: right;
    }

    tr th .side-buttons .button {
      display: block;
    }

    textarea {
      outline: none;
    }
  }
}

.gnetwork-overview-wrap {

  /*rtl:ignore*/
  direction: ltr;

  .shortcode-github-readme {
    background: #fff;
    margin: 1em 0;
    padding: 1em 1.5em;

    img[src*="badge"],
    img[src*="shields.io"] {
      display: inline-block;
      border-radius: 0;
    }
  }
}

@media screen and (max-width: 782px) {
  .gnetwork-admin-wrap.gnetwork-settings {
    padding-right: 10px;
  }
}
