////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Settings Admin ALL --------------------------------------

.gnetwork-admin-wrap.gnetwork-settings {
  @include mainwrap();

  padding-right: 20px;

  .-wrap.-danger,
  .-button.button-reset,
  .-button.button-danger {
    color: $brand-danger;

    &:hover {
      color: darken($brand-danger, 20%);
    }
  }

  .quicktags-toolbar {
    min-height: 30px;
    position: relative;

    input.button.button-small {
      font-size: 12px;
      height: 26px;
      line-height: 24px;
      margin: 0 2px 0 0;
    }
  }

  .quicktags-rtl {

    /*rtl:ignore*/
    direction: rtl;
  }

  &.sub-overview {}

  h3.error-box-header {
    margin-bottom: 0.5em;
  }

  p.error-box-footer {
    margin-top: 0.2em;
  }

  .error-box {

    /*rtl:ignore*/
    direction: ltr;

    height: 100%;
    // overflow: scroll;
    padding: 2px;
    background-color: #faf9f7;
    border: 1px solid #ccc;

    ol {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        padding: 2px 4px 6px;
        border-bottom: 1px solid #ececec;

        &:last-of-type {
          border: none;
          padding-bottom: 0;
        }

        &.more {
          padding: 2px;
          // border-top: 2px solid #ccc;
          // border-bottom: none;
        }

        b {
          span {
            cursor: pointer;
          }
        }

        pre {
          display: inline;
          margin: 0;
        }
      }
    }
  }

  .-empty.-phpinfo {
    padding: 1em;
  }

  // default style from phpinfo()
  .-wrap.-phpinfo {
    padding-top: 1em;
    // background-color: #ffffff;
    color: #000;

    &,
    h1,
    h2,
    td,
    th {
      // font-family: sans-serif;
    }

    pre {
      margin: 0;
      font-family: monospace;
    }

    a:link {
      color: #009;
      text-decoration: none;
      background-color: #fff;
    }

    a:hover {
      text-decoration: underline;
    }

    table {
      border-collapse: collapse;
    }

    .center {
      text-align: center;

      table {
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        direction: ltr;
        width: 100% !important;
      }

      th {
        text-align: center !important;
      }
    }

    td,
    th {
      border: 1px solid #000;
      font-size: 95%;
      vertical-align: baseline;
    }

    h1 {
      font-size: 150%;
    }

    h2 {
      font-size: 125%;
    }

    .p {
      text-align: left;
    }

    .e {
      background-color: #ccf;
      font-weight: 600;
      color: #000;
    }

    .h {
      background-color: #99c;
      font-weight: 600;
      color: #000;
    }

    .v {
      background-color: #ccc;
      color: #000;
      word-break: break-word;
    }

    .vr {
      background-color: #ccc;
      text-align: right;
      color: #000;
    }

    img {
      float: right;
      border: 0;
    }

    hr {
      width: 600px;
      background-color: #ccc;
      border: 0;
      height: 1px;
      color: #000;
    }
  }


  .gnetwork-form {
    .form-table {
      .-field-after {
        vertical-align: middle;

        // &.-text-wrap {}
        // &.-link-wrap {}

        &.-constant-wrap {
          cursor: pointer;
        }

        &.-icon-wrap {
          a {
            color: $gray-light;
            display: inline-block;
            line-height: 22px;
            text-decoration: none;

            &:hover {
              color: #0073aa;
            }

            &:focus {
              outline: none;
              box-shadow: none;
            }
          }

          .dashicons {
            width: 22px;
            height: 22px;
            font-size: 22px;
            vertical-align: text-top;
          }
        }
      }
    }

    .base-table-wrap {
      margin-right: 10px;
    }

    // FIXME: must check the html
    .button.button-small {
      vertical-align: middle;
    }

    .button.button-icon {
      padding: 1px !important;
    }

    input.big-text {
      width: 56em;
    }

    tr td {
      vertical-align: top;
    }

    tr th .side-buttons {
      // margin-top: 0.8em;
      line-height: 1;
      text-align: right;
    }

    tr th .side-buttons .button {
      display: block;
    }

    textarea {
      outline: none;
    }

    &.has-sidebox {
      .form-table {
        width: 75%;
        clear: none;
      }
    }

    .settings-sidebox {
      @include mainwrap();
      width: 25%;
      float: right;
      color: #666;
      border-left: 1px solid #ccc;

      margin-top: 0.5em;
      padding: 0.5em 0 0.5em 1em;

      ol,
      ul {
        margin: 0;
      }

      p {
        margin-top: 0;

        &.submit {
          padding: 0;
          margin-bottom: .5em;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        .button {
          margin-bottom: .5em;
        }
      }

      code {
        word-wrap: break-word;
      }

      table caption {
        text-align: inherit;
      }

      &.oldoptions {
        border-color: $brand-danger;
        clear: right;
      }
    }
  }
}

.gnetwork-overview-wrap {

  /*rtl:ignore*/
  direction: ltr;

  .shortcode-github-readme {
    background: #fff;
    margin: 1em 0;
    padding: 1em 1.5em;

    img[src*="badge"],
    img[src*="shields.io"] {
      display: inline-block;
      border-radius: 0;
    }
  }
}

@media screen and (max-width: 782px) {
  .gnetwork-admin-wrap.gnetwork-settings {
    padding-right: 10px;
  }
}
