////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Shortcodes Module ---------------------------------------

.gnetwork-wrap-shortcode {
	@include mainwrap();

	&.shortcode-reflist {
		ul,
		ol {

			padding: 0;
			margin: 0;
			border: 0;
			list-style: none;

			li {

				.ref-number {

				}

				.cite-scroll {

				}

				.ref-text {

				}

				a {

				}
			}
		}
	}

	&.shortcode-children {
		ul {
			li {
				a {

				}
			}
		}
	}

	&.shortcode-siblings {
		ul {
			li {
				a {

				}
			}
		}
	}

	&.shortcode-back {
		a {

		}
	}

	&.shortcode-iframe {
		iframe {

		}
	}

	&.shortcode-email {
		a.email {

		}
	}

	&.shortcode-tel {
		// display:inline;
		// direction:ltr;
		a.tel {
			// direction:ltr;
			letter-spacing: 0.4px;
		}
	}

	&.shortcode-audio {

		a.download {

		}

		// WP core shortcode
		.wp-audio-shortcode {

		}
	}

	&.shortcode-audio-go {
		a.audio-go-to-time {

		}
	}

	&.shortcode-person {
		a.refrence-people {

		}
	}

	&.-bloginfo {

		// EXAMPLE:
		// &.-key-home {}
	}

	&.shortcode-three-asterisks {
		margin: 20px 0;
		text-align: center;
	}

	&.-googleplus-badge {
		iframe {

		}
	}

	&.-beacon {
		img {

		}
	}
}
