////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Shortcodes Module

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.-wrap {
  &.shortcode-reflist {
    @include theme-gutter-reset;

    ol {
      list-style: none; // using inline style if numbered
      border: 0;
      padding: 0;
      margin: 0 0 1em;

      html[lang="fa-IR"] & {
        list-style-type: persian !important;
      }

      li {
        margin: 0 0 0.78em;

        .ref-number {
          color: $gray-dark;
        }

        // .reference-external {}
        // .cite-scroll {}
        // .ref-text {}
        // a {}
      }
    }

    // ul {
    //   list-style: none;
    //   list-style-type: none;
    // }
  }

  &.shortcode-children {
    ul {
      li {
        // a {}
      }
    }
  }

  &.shortcode-siblings {
    ul {
      li {
        // a {}
      }
    }
  }

  &.shortcode-back {
    // a {}
  }

  &.shortcode-last-edited {
    color: $gray;
    font-size: 0.8em;
    line-height: inherit;

    time {
      cursor: help;
    }
  }

  &.shortcode-iframe {
    // iframe {}
  }

  &.shortcode-email {
    // a.email {}
  }

  &.shortcode-tel {
    a.tel {
      letter-spacing: 0.4px;
    }
  }

  &.shortcode-sms {
    a.sms {
      letter-spacing: 0.4px;
    }
  }

  &.shortcode-audio {

    // WP core shortcode
    // .wp-audio-shortcode {}

    .-download {
      padding: 0.5em;
      font-size: 0.8em;
      background: #ededed;
    }
  }

  &.shortcode-audio-go {
    // a.audio-go-to-time {}
  }

  &.shortcode-person {
    // a.reference-people {}
  }

  &.-bloginfo {
    // EXAMPLE:
    // &.-key-home {}
  }

  &.-beacon {
    // img {}
  }

  &.shortcode-pdf {
    // .-fallback {}

    .pdfobject-container {
      // embed {}
    }
  }
}
