////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Support Module --------------------------------------------

////////////////////////////////////////////////////////////////////////////////
$spacer: 12px !default;

////////////////////////////////////////////////////////////////////////////////
// dashbard widget
.gnetwork-wrap.-support.-widget-form {
  .-wrap.-message {
    margin-bottom: $spacer;

    .-notice {
      margin-right: 1%; // to match with core default inputs
    }
  }

  .-wrap.-settings-field {
    margin-bottom: $spacer;
  }
}
