////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Taxonomy Module -----------------------------------------

body.edit-tags-php {

  // only if taxonomy module not loading
  &:not(.gnetowrk-taxonomy) {
    .form-field.term-description-wrap {
      .description,
      > p {
        display: none; // hide the description of the description
      }
    }
  }

  .column-gnetwork_description {}

  .inline-edit-row fieldset label textarea {
    height: auto !important;
  }

  // bulk extra input
  .gnetwork-taxonomy-input-wrap {
    input[type="text"] {
      height: 28px;
      max-width: 200px;
    }
  }

  .form-wrap.edit-term-notes {
    p:nth-child(2) {
      display: none; // core convert notice
    }
  }
}

body.term-php,
body.edit-tags-php {

  // editor html view
  .wp-editor-wrap.html-active {
    textarea.wp-editor-area {
      border: none;
    }
  }
}
