////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Taxonomy Module

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
body.edit-tags-php {
  div[data-tab="addnew"] > .form-wrap > h2 {
    display: none;
  }

  form#posts-filter + .description,
  .form-wrap.edit-term-notes + .description {
    margin-top: 1rem;
  }

  .column-gnetwork_description {}

  .inline-edit-row fieldset label textarea {
    height: auto !important;
  }

  // bulk actions extra input
  .gnetwork-taxonomy-input-wrap {
    input[type="text"] {
      height: 28px;
      max-width: 200px;
    }
  }

  .form-wrap.edit-term-notes {
    p:nth-child(2) {
      display: none; // core convert notice
    }
  }
}

body.term-php,
body.edit-tags-php {

  // editor html view
  .wp-editor-wrap.html-active {
    textarea.wp-editor-area {
      border: none;
      border-radius: unset;
    }
  }

  // extra actions extra input
  .gnetwork-taxonomy-input-wrap {
    input[type="text"] {
      height: 28px;
      max-width: 200px;
    }
  }
}
