////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Theme: Typography ---------------------------------------

@mixin theme-typography-defaults() {

  h1, h2, h3, h4, h5, h6, p, a {
    &:empty {
      display: none;
    }
  }

  html[lang=fa-IR] {

    ol {
      list-style-type: -moz-persian;
      list-style-type: persian;
    }
  }
}
