////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: ThickBox ALL --------------------------------------------

body.rtl {

  #TB_ajaxWindowTitle {
    /*rtl:ignore*/
    padding: 0 10px 0 29px;
  }

  #TB_closeAjaxWindow {
    /*rtl:ignore*/
    float: left;
  }

  #TB_ajaxContent,
  #TB_window {
    /*rtl:ignore*/
    text-align: right;
  }

  #TB_caption {
    /*rtl:ignore*/
    padding: 5px 15px 0 0;
    /*rtl:ignore*/
    float: right;
  }

  #TB_closeWindowButton {
    /*rtl:ignore*/
    left: 0;
    /*rtl:ignore*/
    right: auto;

    &:focus .tb-close-icon {
      box-shadow: none;
    }
  }

  #TB_window img#TB_Image {
    /*rtl:ignore*/
    margin: 15px 15px 0 0;
    border: none;
  }

  #TB_closeWindow {
    /*rtl:ignore*/
    float: left;
    padding: 5px 15px;
  }
}
