////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: ThickBox ALL --------------------------------------------

body.rtl {

  #TB_ajaxWindowTitle {
    padding: 0 10px 0 29px;
  }

  #TB_closeAjaxWindow {
    float: left;
  }

  #TB_ajaxContent,
  #TB_window {
    text-align: right;
  }

  #TB_caption {
    padding: 7px 25px 10px 30px;
    float: right;
  }

  #TB_closeWindowButton {
    left: 0;
    right: auto;

    &:focus .tb-close-icon {
      box-shadow: none;
    }
  }

  #TB_window img#TB_Image {
    margin: 15px 15px 0 0;
  }

  #TB_closeWindow {
    padding: 11px 0 10px 15px ! important;
    height: auto;
  }
}
