////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partals: Module: Typography Front All -----------------------------

.-wrap {
  &.shortcode-asterisks {
    margin: 20px 0;
    text-align: center;
  }

  &.shortcode-wikipedia {}
}

.post-content,
.entry-content {
  .numeral-section-title {
    color: $gray-dark;
    float: left;
    font-size: 2.5em;
    line-height: 1;
    display: inline-block;
    margin: .2em .2em 0 0;
  }

  blockquote {
    &.-reverse {} // like BS: `.blockquote-reverse`

    &.-epigraph {
      font-size: 1em;

      p:last-of-type {
        margin-bottom: 0;
      }

      footer {}
    }

    // FIXME: DEPRECATED - back-compat
    &.intro-quote {

      font-size: 0.9em;

      p > cite {
        font-size: 0.8em;
        // font-style: italic;
        &::before {
          content: "\2014 \00A0";
        }
      }
    }
  }

  span.typography-pad {
    span {
      display: inline-block;
      margin-right: 0.5em;
    }
  }

  div.closing {
    width: 65%;
    font-size: 0.9em;
    text-align: center;
    float: right;
  }
}
