////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Blocks: Typography: All

////////////////////////////////////////////////////////////////////////////////
.wp-block-gnetwork-asterisks {
  @include theme-clearfix;
  margin: 20px 0;
  text-align: center;
}

////////////////////////////////////////////////////////////////////////////////
.wp-block-gnetwork-bismillah {
  @include theme-clearfix;
  margin: 0 0 30px 0;
  text-align: center;
}
