////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partals: Module: Typography Front All -----------------------------

.gnetwork-wrap-shortcode {

  &.shortcode-asterisks {
    margin: 20px 0;
    text-align: center;
  }

  &.shortcode-wikipedia {

  }
}

.entry-content {

  blockquote {

    &.-reverse {} // like BS: `.blockquote-reverse`

    &.-epigraph {
      font-size: 1em;
    }

    // DEPRICATED
    // FOR BACK COMP ONLY
    &.intro-quote {

      font-size: 0.9em;

      p > cite {
        font-size: 0.8em;
        // font-style: italic;
        &:before {
          content: "\2014 \00A0";
        }
      }
    }
  }

  span.typography-pad {
    span {
      display: inline-block;
      margin-right: 0.5em;
    }
  }

  div.closing {
    width: 65%;
    font-size: 0.9em;
    text-align: center;
    float: right;
  }
}
