////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Dashboard Module: Admin

////////////////////////////////////////////////////////////////////////////////
#gnetwork-uptime-dashboard {
  .inside {
    padding: 0;
    margin: 0;
  }

  .sub {
    padding-top: 0;
  }
}

////////////////////////////////////////////////////////////////////////////////
table.base-table-uptime {
  width: 100%;

  > tbody > tr > td {
    padding: 5px 2px;
  }
}

////////////////////////////////////////////////////////////////////////////////
