////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Partials: Dashboard Module: Admin ---------------------------------

#gnetwork-uptime-dashboard {
  .inside {
    padding: 0;
    margin: 0;
  }

  .sub {
    padding-top: 0;
  }
}
