////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: User: Front All ----------------------------------------------

// only for bp, @SEE: signup.all
body.buddypress {
  .gnetwork-wrap-tos {
    // we need current theme styles!

    .-title {}

    .-text {
      // width: 95% !important;
      // height: 220px !important;
      box-sizing: border-box;
      width: 100%;
      height: 220px;
      resize: vertical;
    }

    .-checkbox {
      vertical-align: middle !important;
    }
  }
}
