////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Widgets ------------------------------------------------------------

.gnetwork-wrap-widget {
  // we need current theme styles!

  &.-legend-widget {

    /*rtl:ignore*/
    direction: ltr;

    table.base-table-code {
      width: 100%;

      td {

        /*rtl:ignore*/
        text-align: left;

        /*rtl:ignore*/
        direction: ltr;
      }

      .-val {
        width: 15%;
        text-align: center;
      }
    }
  }
}
