////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Module: Widgets ------------------------------------------------------------

.gnetwork-wrap-widget {

  // we need current theme styles!
  // @include mainwrap();
  // @include box-reset();

  &.-legend-widget {

    /*rtl:ignore*/
    direction: ltr;

    table.base-table-code {

      width: 100%;

      td {

        /*rtl:ignore*/
        text-align: left;

        /*rtl:ignore*/
        direction: ltr;
      }

      .-val {
        width: 15%;
        text-align: center;
      }
    }
  }

  &.-quantcast-widget {
    iframe {
      margin: 0 auto;
      display: block;
    }
  }

  // we use additional .gnetwork-wrap-iframe class for iframe responsive
  &.-gplusbadge-widget {
    iframe {}
  }
}
