////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Themes: Ari - RTL -------------------------------------------------
////////////////////////////////////////////////////////////////////////////////
// https://wordpress.org/themes/ari/
// https://www.elmastudio.de/en/themes/ari/
// http://ari.elmastudio.de/allgemein/test-der-html-elemente/
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "../modules/all";
@import "../partials/base";
@import "../partials/theme.fonts";
@import "../partials/theme.typography";
@import "../partials/theme.editorial";
@import "../partials/theme.widgets";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@include theme-fonts-Sahel-CDN;
@include theme-fonts-Sahel-Bold-CDN;
@include theme-fonts-Sahel-Black-CDN;
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

body,
button,
input,
select,
textarea,
#searchsubmit {
  font-family: $font-family-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-head;
  font-weight: 700;
}

#content blockquote,
#content p.wp-caption-text,
#content .post p.meta span,
#content .page p.meta span,
a.post-edit-link,
.page-link,
.comment-meta,
p.logged-in-as,
.gallery .gallery-caption,
form#commentform p.comment-notes,
form#commentform textarea#comment,
form#commentform p.form-submit input#submit,
h1.archive,
.wpcf7-response-output,
.wpcf7-not-valid-tip,
#content .post #author-description h2,
#content .post #author-description p,
#comments-content p.moderation,
#sidebar-primary .logo p,
table#wp-calendar caption {
  font-family: $font-family-base;
}

form#commentform p.form-submit input#submit,
#searchsubmit {
  padding: 2px 7px;
}

#content,
#sidebar-primary,
#content p.previous,
#content .post #author-avatar,
#sidebar-primary ul.sidebar li.widget_text img {
  float: right;
}

#footer,
#main,
#sidebar-secondary,
#content p.next {
  float: left;
}

table#wp-calendar caption {
  text-align: right;
}

h1.archive,
#content blockquote,
#sidebar-primary .logo p,
#content .post p.meta span,
#content .page p.meta span,
table#wp-calendar caption {
  font-style: normal;
}

#content {
  padding: 0 60px 0 0;
}

#content .post #author-avatar {
  margin: 5px 0 0 15px;
}

ul.sidebar li.widget_sociallinks a,
#content blockquote,
#content .post p.meta,
#content .page p.meta {
  background-position: 100% 3px !important;
}

#content blockquote {
  padding: 0 16px;

  p {
    padding-bottom: 15px !important;

    &:last-of-type {
      padding-bottom: 0 !important;
    }
  }
}

#sidebar-primary .logo h1 {
  line-height: 40px;
}

#sidebar-primary ul.sidebar li.widget_text img {
  margin: 3px 0 0 10px;
}

ul.sub-menu {
  margin: 0 15px 0 0;
}

.search-input {
  float: right;
  width: 100%;
  box-sizing: border-box;
}

#searchsubmit {
  float: left;
  margin: 0;
}

.widget-title img.rss-widget-icon {
  display: none !important;
}

@media screen and (max-width: 870px) {
  #content {
    padding: 0 80px 0 0;
  }

  #sidebar-secondary {
    float: none;
    padding: 50px 80px 0 0;

    ul.sidebar li.widget-container {
      margin: 0 0 30px 20px;
    }
  }
}

@media screen and (max-width: 770px) {
  #sidebar-secondary {
    padding: 50px 60px 0 0;
    float: none;
  }
}

@media screen and (max-width: 620px) {
  #main,
  #content,
  #footer,
  #sidebar-primary,
  #sidebar-secondary {
    float: none;
  }

  #content {
    padding: 0;
  }
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@include theme-typography-defaults;
@include theme-editorial-defaults;
@include theme-widgets-defaults;
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

#content {
  .entry.-empty-title > h2 {
    display: none;
  }

  blockquote {
    footer {
      margin-top: 16px;
      font-size: 0.89em;
    }

    cite:before {
      content: "\2014";
      padding-left: 5px;
      font-weight: 400;
    }
  }
}
