////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Themes: Atlantic --------------------------------------------------
////////////////////////////////////////////////////////////////////////////////
// http://atlantic.elevate360.com.au/
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "../modules/all";
@import "../partials/base";
@import "../partials/theme.fonts";
@import "../partials/theme.typography";
@import "../partials/theme.editorial";
@import "../partials/theme.widgets";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@include theme-fonts-Vazir-CDN();
@include theme-fonts-Vazir-Bold-CDN();
@include theme-fonts-Vazir-Light-CDN();
@include theme-fonts-Vazir-Code-CDN();
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

body,
button,
input,
select,
textarea {
  font-family: $font-family-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-head;
  font-weight: 700;
}

.edit-link {
  float: left;
}

.widget-area,
.site-footer {
  > .container:before {
    left: auto;
    right: 15px;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .nav-previous {
    float: right;
    text-align: right;
  }

  .nav-next {
    float: left;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .secondary-footer-info {
    float: right;
    text-align: right;
  }
}
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@include theme-typography-defaults;
@include theme-editorial-defaults;
@include theme-widgets-defaults;
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
