////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Themes: Chosen ---------------------------------------------------
////////////////////////////////////////////////////////////////////////////////
// https://wordpress.org/themes/chosen/
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "../modules/all";
@import "../partials/base";
////////////////////////////////////////////////////////////////////////////////
@import "../partials/theme.typography";
@import "../partials/theme.editorial";
@import "../partials/theme.widgets";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@include theme-fonts-Vazir-CDN();
@include theme-fonts-Vazir-Bold-CDN();
@include theme-fonts-Vazir-Light-CDN();
@include theme-fonts-Vazir-Code-CDN();
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

body,
button,
input,
select,
textarea {
  font-family: $font-family-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-bold;
  font-weight: 700;
}

.site-title {
  font-family: $font-family-light;
}

blockquote {
  border-left: none;
}

.more-link,
.post-categories a,
.post-tags a,
.post-categories span,
.post-tags span {
  margin-right: 0;
}

.comment-reply-link,
.comment-edit-link {
  margin-left: 0;
}

.comment-reply-link:after,
.comment-edit-link:after {
  left: auto;
}

@media all and (min-width: 56.25em) {
  .blog,
  .archive,
  .search {
    .entry {
      margin-right: 0 !important;

      &:nth-child(even) {
        margin-left: 4.54203%;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@include theme-typography-defaults;
@include theme-editorial-defaults;
@include theme-widgets-defaults;
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
