////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Themes: Huston ----------------------------------------------------
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "../modules/all";
@import "../partials/base";
////////////////////////////////////////////////////////////////////////////////
@import "../partials/theme.typography";
@import "../partials/theme.editorial";
@import "../partials/theme.widgets";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

// TODO: must load via action, just for RTL
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

body.rtl {
  direction: rtl;
  font-family: "Droid Arabic Naskh", Tahoma, "Iranian Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.site-title {
  font: 700 30px/35px Arial, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.entry-title {
  font: 700 16.2px/21px Arial, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.widget-area .widget-title {
  font: 700 14.2px/18px Arial, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.entry-content p {
  font: 400 14.4px/25.2px "Droid Arabic Naskh", Tahoma, "Iranian Sans", verdana;
}

.main-navigation li,
.post-navigation,
.site-description,
.site-navigation,
.widget-area li,
.wp-caption .wp-caption-text,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="email"],
input[type="password"],
input[type="text"],
select,
textarea {
  font: 400 12.3px/23px "Droid Arabic Naskh", Tahoma, "Iranian Sans", verdana;
}

.temprarly-class {
  font: 400 12.3px/14.8px "Droid Arabic Naskh", Tahoma, "Iranian Sans", verdana;
}

.entry-meta,
.entry-meta a {
  font: 400 11.1px/16px "Droid Arabic Naskh", Tahoma, "Iranian Sans", verdana;
}
////////////////////////////////////////////////////////////////////////////////
.site-header a.site-logo + hgroup {
  text-align: center;
}

.widget_search input[type="text"] {
  width: 95.5%;
}
////////////////////////////////////////////////////////////////////////////////
.site {
  margin-bottom: 0;
}

button,
input,
select,
textarea {
  max-width: 100%;
}

.wp-caption {
  border-radius: 3px;
}

.wp-caption .wp-caption-text {
  margin: 5px;
}

.entry-content ul li {
  margin-bottom: 0.5em;
}
////////////////////////////////////////////////////////////////////////////////
caption,
td,
th {
  text-align: right;
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.site-content .nav-previous,
.site-navigation .previous-image {
  float: right;
}

.site-content .nav-next,
.site-navigation .next-image {
  float: left;
  text-align: left;
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

ol.commentlist {
  margin: 0 60px 0 0;
}

ol.commentlist .avatar {
  float: right;
  margin-left: 6px;
  margin-right: -60px;
}

ul.children {
  margin: 0 44px 0 0;
}

input#email,
input#url {

  /*rtl:ignore*/
  direction: ltr;
}
