////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Themes: Hyde ------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import '../modules/all';
@import '../partials/base';
@import '../partials/theme.fonts';
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// REPO: https://github.com/tim-online/wordpress-hyde-theme
// HOME: http://hyde.getpoole.com/
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

// http://www.google.com/fonts#UsePlace:use/Collection:Ubuntu
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
  font-family: 'Ubuntu', sans-serif;
}

@media (min-width: 48rem) {
  // html { font-size: 16px;  }
  .sidebar {
    h1 {
      font-size: 44px !important;
    }
  }
}

@media (min-width: 58rem) {
  // html { font-size: 20px; }
  .sidebar {
    h1 {
      font-size: 54px !important;
    }
  }
}

.sidebar-nav {
  ul {
    list-style: none;
    padding-left: 0;
  }
}

.sidebar-about {
  p.lead {
    font-size: 0.89em;
  }
}

.sidebar-sticky {
  > p {
    display: none;
  }
}

.entry-content {}

.entry-footer {
  .edit-link {
    display: none;
  }
}

.wpcf7 {
  .wpcf7-response-output {
    margin: 0 !important;
    padding: 0.2em !important;
    text-align: center;
  }

  img.ajax-loader {
    border: none;
    vertical-align: middle;
    margin: 0 auto;
    padding-top: 0.4em;
    //clear:both;
  }

  span.wpcf7-not-valid-tip {
    display: inline !important;
  }

  span.wpcf7-form-control-wrap {
    position: relative;

    input[type="email"],
    input[type="text"],
    textarea {
      width: 100%;
    }
  }

  input[type="submit"] {
    width: 100%;
  }
}

.gnetwork-wrap-shortcode.shortcode-back {
  a {
    text-transform: lowercase;
  }
}
