////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Themes: Publish ---------------------------------------------------
////////////////////////////////////////////////////////////////////////////////
// https://github.com/kovshenin/publish
// https://konstantin.blog/themes/publish/
// https://wordpress.org/themes/publish/
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "../modules/all";
@import "../partials/base";
////////////////////////////////////////////////////////////////////////////////
@import "../partials/theme.typography";
@import "../partials/theme.editorial";
@import "../partials/theme.widgets";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@include theme-fonts-Vazir-CDN();
@include theme-fonts-Vazir-Bold-CDN();
@include theme-fonts-Vazir-Light-CDN();
@include theme-fonts-Vazir-Code-CDN();
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

body,
button,
input,
select,
textarea,
blockquote {
  font-family: $font-family-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-bold;
  font-weight: 700;
}

.site-header {
  float: right;
}

.widget-area {
  float: right;
  clear: right;
}

.site-content,
.site-footer {
  float: left;
}

blockquote {
  font-style: normal;
}

blockquote {
  margin-bottom: 1.5em;
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////


.site-title {
  // font: bold 30px/35px $font-family-bold;
}

.entry-title {
  // font: bold 16.2px/21px $font-family-bold;
}

.widget-area {
  .widget-title {
    // font: bold 14.2px/18px $font-family-bold;
  }
}

.entry-content {
  p {
    // font: normal 14.4px/25.2px $font-family-normal;
  }
}

.main-navigation li,
.post-navigation,
.site-description,
.site-navigation,
.widget-area li,
.wp-caption .wp-caption-text,
button,
input[type="button"],
input[type="email"],
input[type="password"],
input[type="reset"],
input[type="submit"],
input[type="tel"],
input[type="text"],
select,
textarea {
  // font-family: $font-family-normal;
  // font: normal 12.3px $font-family-normal;
}
//{ font:normal 12.3px/14.8px "Droid Arabic Naskh", Tahoma, "Iranian Sans", verdana; }
.entry-meta,
.entry-meta a {
  // font: normal 11.1px/16px $font-family-normal;
}

.site-header a.site-logo {
  text-align: center;
  display: block;
  outline: none;

  & + hgroup {
    text-align: center;
  }
}

.widget_search {
  input[type="text"] {
    width: 95.5%;
  }
}

.site {
  margin-bottom: 0;
}

button,
input,
select,
textarea {
  max-width: 100%;
}

.wp-caption {
  border-radius: 3px;

  .wp-caption-text {
    margin: 5px;
  }
}

.entry-content {
  ol,
  ul {
    margin: 0 1.5em 1.5em 0;

    li {
      margin-bottom: 0.5em;
    }
  }

  ol {
    margin: 0 3em 1.5em 0;
    list-style-type: -moz-persian;
    list-style-type: persian;
  }
}

caption,
td,
th {
  text-align: right;
}

.site-content .nav-previous,
.site-navigation .previous-image {
  float: right;
}

.site-content .nav-next,
.site-navigation .next-image {
  float: left;
  text-align: left;
}

ol.commentlist {
  margin: 0 60px 0 0;

  .avatar {
    float: right;
    margin-left: 6px;
    margin-right: -60px;
  }
}

ul.children {
  margin: 0 44px 0 0;
}

input#email,
input#url {

  /*rtl:ignore*/
  direction: ltr;
}

textarea {
  padding-left: 0;
  padding-right: 3px;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  padding: 0.15em 0.5em 0.05em;
}

option {
  padding: 0;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
select,
textarea {
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


@media only screen and (max-width: 900px) {
  body.rtl {
    .main-small-navigation .menu-toggle:before {
      margin-left: 10px;
      margin-right: -20px;
    }

    .site-description,
    .site-title {
      clear: none;
      margin-right: 98px;
      margin-left: 0;
    }

    .site-logo,
    .site-logo img {
      float: right;
      width: 78px;
    }

    .site-header a.site-logo + hgroup {
      text-align: right;
    }
  }
}

@media only screen and (max-width: 600px) {
  blockquote {
    margin-left: 0;
    margin-right: 0;
  }
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@include theme-typography-defaults;
@include theme-editorial-defaults;
@include theme-widgets-defaults;
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.gnetwork-wrap-actions.content-after + .page-links {
  margin-top: 1.5em;
}

.entry-content .entry-source.-after {
  margin-bottom: 1em;
}

.-wrap.shortcode-reflist {
  font-size: 0.89em;
  margin-top: 1.5em;
  padding-top: 1.5em;
  border-top: solid 1px #ddd;

  .cite-scroll {
    color: #999;
    text-decoration: none;

    &:hover {
      color: #222;
    }
  }
}

.entry-content {
  sup.ref-anchor {
    bottom: 0.5ex;

    a {
      color: #999;
      text-decoration: none;

      &:hover {
        color: #222;
      }
    }
  }
}
