////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Themes: Storefront --------------------------------------------------
////////////////////////////////////////////////////////////////////////////////
// https://woocommerce.com/storefront/
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "../modules/all";
@import "../partials/base";
////////////////////////////////////////////////////////////////////////////////
@import "../partials/theme.typography";
@import "../partials/theme.editorial";
@import "../partials/theme.widgets";
@import "../partials/theme.forms";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@include theme-fonts-VazirMatn-Regular-CDN();
@include theme-fonts-VazirMatn-Bold-CDN();
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

body,
button,
input,
select,
textarea {
  font-family: $font-family-regular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-bold;
  font-weight: 700;
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@include theme-typography-defaults;
@include theme-editorial-defaults;
@include theme-widgets-defaults;
@include theme-forms-defaults;
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.woocommerce {
  ul.order_details {
    margin-top: 1rem;
  }
}

////////////////////////////////////////////////////////////////////////////////
.woocommerce-pagination {
  .next::after {
    content: "\f0da";
  }

  .prev::after {
    content: "\f0d9";
  }
}

.wc-forward::after,
.woocommerce-Button--next::after {
  content: "\f30a"; // long-arrow-alt-left (Font Awesome 5)
}

.woocommerce-Button--previous::after {
  content: "\f30b"; // long-arrow-alt-right (Font Awesome 5)
}

.storefront-product-pagination a[rel="next"]::after,
.main-navigation ul.menu ul li.menu-item-has-children > a::after,
.main-navigation ul.menu ul li.page_item_has_children > a::after,
.main-navigation ul.nav-menu ul li.menu-item-has-children > a::after,
.main-navigation ul.nav-menu ul li.page_item_has_children > a::after,
.woocommerce-tabs ul.tabs li::after,
.woocommerce-breadcrumb .breadcrumb-separator::after {
  content: "\f104"; // angle-left (Font Awesome 5)
}

.storefront-product-pagination a[rel="prev"]::after {
  content: "\f105"; // angle-right (Font Awesome 5)
}

////////////////////////////////////////////////////////////////////////////////
input#username,
input#billing_postcode {
  direction: ltr;
}

.stock::before {
  display: none; // disable emojies before stock messages
}

////////////////////////////////////////////////////////////////////////////////
// .woocommerce-product-attributes.shop_attributes {}

.woocommerce-product-attributes-item--weight,
.woocommerce-product-attributes-item--dimensions {
  .woocommerce-product-attributes-item__value {
    // direction: ltr; // no need, we use gEditorial WC-Units
  }
}

h2.woocommerce-Reviews-title,
.woocommerce-Tabs-panel--additional_information > h2 {
  display: none;
}

////////////////////////////////////////////////////////////////////////////////
.woocommerce-table.order_details {
  tfoot {
    th {
      text-align: left;
    }
  }
}
