////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Themes: Tribes - RTL ----------------------------------------------
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "../modules/all";
@import "../partials/base";
////////////////////////////////////////////////////////////////////////////////
@import "../partials/theme.typography";
@import "../partials/theme.editorial";
@import "../partials/theme.widgets";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@include theme-fonts-Gandom-CDN();
@include theme-fonts-Samim-Bold-CDN();
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// v1.06
// HOME: https://www.competethemes.com/tribes/
// DEMO: https://www.competethemes.com/tribes-live-demo/
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

body.rtl {
  direction: rtl;
  font-family: $font-family-normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.site-title {
  font-family: $font-family-bold;
  font-weight: 700;
}

.entry-content {
  ol {
    list-style-type: persian;
  }
}

.comment-form {
  input[type="email"],
  input[type="url"] {
    direction: ltr;
  }
}

blockquote {
  border-left: none;
  padding-left: 0;
}

.more-link::after {
  content: "\f100";
}

.post-categories a,
.post-categories span,
.comment-author .avatar,
.post-tags a {
  margin-right: 0;
}

.pagination {
  .prev {
    left: auto;
  }

  .next {
    right: auto;
  }
}

@media (min-width: 50em) {
  .pagination {
    .prev {
      left: auto;
    }

    .next {
      right: auto;
    }
  }
}
