////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Themes: Twenty Twelve - RTL ---------------------------------------
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "../modules/all";
@import "../partials/base";
////////////////////////////////////////////////////////////////////////////////
@import "../partials/theme.typography";
@import "../partials/theme.editorial";
@import "../partials/theme.widgets";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

body,
input,
textarea,
.site-description {
  font-family: Tahoma, "Iranian Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
blockquote,
#access a {
  font-family: Arial, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
}

.entry-header .entry-title {
  font-weight: 700;
}

.widget_search {
  input[type="search"] {
    box-sizing: border-box;
    width: 100%;
  }

  input[type="submit"] {
    display: none;
  }
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@include theme-typography-defaults;
@include theme-editorial-defaults;
@include theme-widgets-defaults;
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
