////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Themes: Twenty Eleven - RTL ---------------------------------------
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "../modules/all";
@import "../partials/base";
////////////////////////////////////////////////////////////////////////////////
@import "../partials/theme.typography";
@import "../partials/theme.editorial";
@import "../partials/theme.widgets";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

body,
input,
textarea {
  font-family: Tahoma, "Iranian Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#access a,
blockquote,
h1,
h2,
h3 {
  font-family: Arial, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
}

blockquote {
  font-style: normal;
}

#access a,
#site-description,
section.recent-posts .other-recent-posts a[rel="bookmark"] {
  font: 700 16px/10px arial, sans-serif;
}

#author-info,
#site-generator,
p.nocomments {
  display: none;
}

.page-template-showcase-php section.recent-posts {
  float: right;
  margin: 0 !important;
}

.page-template-showcase-php section.recent-posts {
  float: right;
  margin: 0 !important;
  width: 100%;
}

section.recent-posts .other-recent-posts a[rel="bookmark"] {
  line-height: 25.5px;
}

section.recent-posts .other-recent-posts .comments-link > span {
  display: none;
}

#page {
  margin: 40px auto 20px;
  padding-bottom: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

#branding {
  border-top: none;
}

#branding #searchform {
  top: 2.8em !important;
}

#branding #s {
  box-shadow: none !important;
  width: 53px;
}

.entry-content #s {
  box-shadow: none !important;
  width: 95%;
  background-position: 99% 6px;
}

#site-title {
  padding-top: 2.8em !important;
}

#site-description {
  margin: 10px 0 37px !important;
}
// FIXME: BUG drop down menu broken!!!

#access {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

#access,
#access a:focus,
#access li:hover > a {
  background: none;
  box-shadow: none;
}

#access a {
  color: #888;
  // font-size:1.4em;
  line-height: 2.2em;
  padding: 3px 0.79em 0;
}

#access a:focus,
#access li:hover > a {
  background: #eee;
  color: #333;
}

.nav-previous {
  float: left;
}

.nav-next {
  float: right;
}

.commentlist .edit-link a,
.entry-meta .edit-link a {
  line-height: 2em;
}

.one-column.singular .entry-meta .edit-link a {
  left: 0;
  right: auto;
}

.entry-title {
  font-size: 25.3px;
}

div.wpcf7 input.wpcf7-text,
textarea.wpcf7-textarea {
  box-sizing: border-box;
  width: 100%;
}

div.wpcf7 input.wpcf7-email {
  direction: ltr;
}
