////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gNetwork Themes: Twenty Seventeen - RTL ------------------------------------
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import '../modules/all';
@import '../partials/base';
@import '../partials/theme.fonts';
@import '../partials/theme.typography';
@import '../partials/theme.editorial';
@import '../partials/theme.widgets';
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@include theme-fonts-Dirooz-CDN();
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

// needed for override
html[lang="fa-IR"] {

  body, button, input, select, textarea {
    font-family: $font-family-base;
  }

  h1, h2, h3, blockquote, #access a {
    font-family: $font-family-head;
    font-weight: bold;
  }
}

.site-title,
h2.widget-title,
.entry-meta,
.page .panel-content .entry-title,
.page-title,
body.page:not(.twentyseventeen-front-page) .entry-title {
  letter-spacing: normal;
}

.site-info {
  display: none;
}
